[2012-10-16 01:09] dtrott opened #1 "Provide better documentation for (Non-AWS) datacenter configuration"
I am trying to configure two Eureka servers on a pair of machines on a LAN to verify inter-server communication is configured correctly.

It would be extremely helpful to have a sample configuration for this configuration so that I can verify everything is setup/working correctly.

[2012-12-06 18:23] #1 closed, assigned to nobody

[2012-12-21 08:42] karthik-vn opened #6 "Isolate replication events (primarily renewals) from one peer node from affecting the other peer nodes"
Currently, the replication pool is shared across all peer nodes and hence if one of the peers go down it severely affects the ability to replicate to other nodes.

Move the renewals to a separate pool for its peer node so that a peer going down does not affect other peers in an adverse way.

[2012-12-25 21:48] #6 closed, assigned to nobody

[2012-12-31 04:16] ericadowd opened #9 "Cannot bootstrap eureka server"
Getting the following issue when trying to start up eureka server:

Dec 31, 2012 4:02:51 AM org.apache.catalina.core.StandardContext listenerStart
SEVERE: Exception sending context initialized event to listener instance of class com.netflix.eureka.EurekaBootStrap
java.lang.RuntimeException: Cannot bootstrap eureka server :
        at com.netflix.eureka.EurekaBootStrap.contextInitialized(EurekaBoot

[2013-01-04 07:12] karthik-vn opened #10 "Support other AWS region as fallback"
Latency and cost may sometimes force applications to be run on one AWS region and then fallback to applications for other region.

There should be support for region fallback if an application does not exist in one region if the fallback region is configured.

[2013-01-09 08:28] #9 closed, assigned to nobody

[2013-01-16 19:25] tysonstewart opened #11 "Content-Type with charset=utf-8 fails"
When I attempt to POST to /v2/apps/APPID, if the Content-Type request header is "application/json; charset=utf-8", the application throws an exception. If the header is simply "application/json", it works as expected. This is on [1.1.72](https://github.com/Netflix/eureka/tree/eureka-1.1.72).

Here is the stack trace for the failing scenario:

[code]

[2013-01-17 17:04] tysonstewart opened #12 "Request: REST interface for updating metadata"
As far as I can tell, the only way to update metadata for a service is to re-register the service. It would be super handy for me if there existed a PUT endpoint similar to the {...}/status?value= endpoint that could be used to update the metadata, in part or in whole.

[2013-01-18 01:54] #11 closed, assigned to nobody

[2013-01-18 02:01] #12 closed, assigned to nobody

[2013-01-25 04:58] cfregly opened #13 "Failed to read artifact descriptor for com.netflix.servo:servo-core:jar:0.4.13"
karthik-

i'm working on an end-to-end reference app that uses a lot of the Netflix OSS components and i'm having trouble integrating the latest build of eureka.

you can find the reference app here, btw:  https://github.com/cfregly/refapp

is there any known issue around depending on an older, unreleased version (0.4.13) of servo-core?

to reproduce, just uncomment out the eureka-core dependency

[2013-01-30 16:52] #13 closed, assigned to nobody

[2013-01-31 23:04] #10 closed, assigned to nobody

[2013-02-12 23:42] cfregly opened #16 "use embedded jetty or tomcat for standalone startup?"
karthik-

any thought to using jetty (similar to exhibitor) or embedded tomcat (similar to asgard) for an easier standalone startup?  this would simplify the deploy instructions a bit as it would remove the dependency on a separate tomcat install.

additionally, this would allow additional CLI params like --port to allow eureka to startup on a custom port.

i really like how jordan built - and doc

[2013-02-12 23:45] cfregly opened #17 "bridging eureka and archaius configs"
is there a way to avoid the following code snippet used to bridge the archaius and eureka configs:

https://github.com/cfregly/fluxcapacitor/blob/master/flux-edge/src/main/java/com/fluxcapacitor/edge/server/EdgeServer.java

i understand the desire to let eureka run standalone without requiring an archaius configuration, but is there a best-of-both-worlds approach where archaius will be used if the

[2013-02-13 00:59] #16 closed, assigned to nobody

[2013-02-26 17:31] tysonstewart opened #18 "Feature request: REST method to reset renews threshold"
If the renewals falls below the threshold for a legitimate reason, it would be very helpful to have a method to reset the threshold to clear the alert state. As it is now, the only way to reset it is to restart Eureka.

[2013-02-26 17:33] tysonstewart opened #19 "Feature request: DELETEing a service lowers the renews threshold"
When a service is deleted via the REST API, it's an active removal instead of passive like in the case of an automatic expiration. For that reason, Eureka should lower the renews threshold value so that an alert state will be resolved.

[2013-03-21 22:48] #19 closed, assigned to nobody

[2013-04-05 16:28] matschaffer opened #20 "Version 1.1.92 isn't tagged"
Not sure if we push jars to maven central or not, but artifacts.netflix.com (internal) has a 1.1.92 version that isn't tagged here. Thought I'd file incase this indicates a build process bug.

[2013-06-14 11:34] OskarKjellin opened #22 "Problems with multiple eips and TXT?"
I ran into some issues when I tried to setup multiple zones with eureka. According to the wiki, the txt records should be separated with ','. However, it seems like the code is using the whitespace character?
Wiki page I am referring to:
https://github.com/Netflix/eureka/wiki/Configuring-Eureka-in-AWS-Cloud

But on this line it splits using whitespace:
https://github.com/Netflix/eureka/blob/master

[2013-06-14 21:33] pommerien opened #23 "Register VPC Eureka node in Route53 instead of EIP"
Hi there,
We are trying to run Eureka in a solely VPC environment and don't have the need for EIP registration.  Instead we are considering adding functionality to have Eureka register itself directly in Route53 as discovery.us-west-2c.xyz.com, or similar.  That way we can make Eureka part of an ASG, avoid middle-tier ELBs, and use round-robin DNS once we need more than one Eureka node per AZ.

Be

[2013-06-27 19:49] danielkwinsor opened #24 "Hostname reused as InstanceId disallows multiple service instances on 1 host"
Original thread is at https://groups.google.com/forum/#!topic/eureka_netflix/Rntihgo1i50

My usecase is that I'd like to have 1 service with multiple instances running on the same host.  Since they are the same service, they should have the same app name.  And since they are on the same host, they have the same hostname.  The problem is that in a non-AWS datacenter, the instanceID is populated by

[2013-07-05 10:31] pparth opened #27 "How to integrate CloudWatch?"
Hello,

I can see the metrics exposed through Servo and JMX successfully. How do i integrate CloudWatch though? Where should i provide AWS credentials? Are these a standard accessKey and secretKey combination? For the server configuration, i can see the accessKey and secretKey configuration parameters. Are these used for CloudWatch integration? If this is the case, i do not see these parameters fo

[2013-07-17 23:38] NiteshKant opened #29 "Add ability to retrieve instances from any remote region"
Currently eureka provides a way to get registry information from a remote aws region.
However, the behavior of this is not controllable by the user.
The instances from the remote region is added to the local registry only if the application, the instance belongs to, is not already available locally.

This change should allow users to retrieve instances for a specific region (via the eureka client)

[2013-07-23 18:52] #18 closed, assigned to nobody

[2013-07-23 18:56] #22 closed, assigned to nobody

[2013-07-23 18:56] #23 closed, assigned to nobody

[2013-07-29 22:21] NiteshKant opened #32 "EIPManager should choose unbounded EIP as the first candidate"
Currently, EIPManager.getCandidateEIP() will prefer EIPs attached to unreachable instances first if they appear in the available EIP list first.
This can be optimized more by first choosing the EIP which is not attached to any instance (as per other peer nodes registry info) at all.

[2013-08-01 20:34] #32 closed, assigned to NiteshKant

[2013-08-01 20:34] #29 closed, assigned to NiteshKant

[2013-08-01 20:39] NiteshKant opened #37 "Ability to fetch instances from remote region should be changeable dynamically"
The changes in issue #29 enabled eureka client to fetch instances from a remote region (if available with the server) if configured via a property. This behavior is determined at client initialization. This will cause applications to restart whenever a change in behavior is required.
We should make this decision dynamically everytime we refresh the client's cache. This will lead to clearing up the

[2013-08-01 20:42] NiteshKant opened #38 "Availability Zone -> region mapping can be fetched from DNS"
The fix for issue #29 derives the region for an availability zone based on a property.
This same information is available for netflix environment in DNS entry.
Hence, if available (i.e. eureka client is configured to fetch service urls from DNS) we should use the DNS for this mapping. Also, the mapping must be refreshed everytime we fetch data from the eureka server.

[2013-08-02 07:25] #37 closed, assigned to NiteshKant

[2013-08-02 07:25] #38 closed, assigned to NiteshKant

[2013-08-07 07:35] #27 closed, assigned to nobody

[2013-08-09 07:05] NiteshKant opened #40 "Failure in initializing remote registry must be fatal"
Currently, if the eureka server is configured to fetch data from a remote region registry but fails to initialize the same, the error is ignored.
This results in unexpected behavior of the server without any indication of what is wrong. We should fail fast in such a scenario.

[2013-08-15 14:58] jfenner opened #42 "Startup of Eureka in local environment takes 3-5 minutes"
When starting Eureka in a dev environment with no other Eureka servers available, the startup times takes between 3 and 5 minutes.  I was that setting the following parameters would bypass this:

eureka.enableSelfPreservation=false
eureka.registration.enabled=false

However, it still is taking 3-5 minutes.  Is there something else that needs to be set for this to work?

[2013-08-20 22:34] mampcs opened #43 "Restarting eureka server with EIP binding causes the next bind to take a long time"
On Amazon, when eureka is brought down, it releases the EIP address. Amazon does not reassign a new public ip address to the instance for atleast a couple of minutes once the EIP is released. Restarting the eureka server during this time causes the EIP binding to fail the first time because the public IP is null. Here's the stack trace:

2013-08-20 15:05:55,365 ERROR com.netflix.eureka.EurekaBootS

[2013-08-20 22:37] mampcs opened #44 "Add capability to invoke a registered callback when instance is evicted"
We have been extending the eureka server to add additional capabilities to it. But we would like to be able to do this without actually making any changes to the eureka code itself.
One nice feature that would help us if to have the ability to register a callback function that should be invoked whenever an instance is evicted by eureka (once it's become non responsive). That would allow us to keep

[2013-08-21 17:39] #40 closed, assigned to NiteshKant

[2013-08-21 17:41] #20 closed, assigned to nobody

[2013-08-21 20:45] NiteshKant opened #45 "NPE when remote discovery is not available/reachable"
RemoteRegionRegistry: https://github.com/Netflix/eureka/blob/4897114c759524bdebef9f9daa8baf372263d430/eureka-core/src/main/java/com/netflix/eureka/RemoteRegionRegistry.java#L193

tries to access response object which will be null if the remote discovery is not reachable.

[2013-08-22 16:48] #45 closed, assigned to NiteshKant

[2013-08-26 21:39] NiteshKant opened #47 "Disable transparent fallback to remote region"
The first implementation of fetching instances from a remote registry was done in a way that iff there are no instances of an application in the local region, then we get instances from remote region transparently, without the caller knowing it.
The above worked for the usecase inside Netflix initially. However, the flaw is that there was no way to fetch instances from a remote region if there wer

[2013-08-27 00:02] #47 closed, assigned to NiteshKant

[2013-08-30 20:19] #43 closed, assigned to nobody

[2013-08-30 23:52] NiteshKant opened #50 "Instance region checker should fallback to parsing the availability zone"
Currently discovery client determines the region of an instance by looking up the availability zone into the set of known availability zone -> region mapping. This mapping is determined via DNS or properties.
However, in case, when there is no valid information in this mapping for an availability zone, it puts this instance into the local bucket. We can have one fallback which can see if the avail

[2013-09-03 16:57] Thorn1089 opened #53 "eureka-client should not depend on jersey-bundle"
From the description of the jersey-bundle artifact:

Consider specifying in POM/gradle build script exactly which Jersey artifacts are required. The inclusion of the bundle artifact leads to issues with managing transitive dependency conflicts of different Jersey versions.

[2013-09-17 20:26] NiteshKant opened #55 "RemoteRegionRegistry does not set "ready for traffic" to false if connection to remote region fails"
The connection error is silently ignored.
This should not be the case because this will be cause an issue of eureka not showing up instances from the other region.

[2013-09-17 20:43] #55 closed, assigned to nobody

[2013-09-19 06:42] #50 closed, assigned to NiteshKant

[2013-09-19 06:43] NiteshKant opened #57 "DiscoveryClient should honor remote regions when querying backup"
Discovery client while querying from the backup registry, in the event of all eureka servers not being available, does not honor remote regions requested.

[2013-10-15 21:21] karthik-vn opened #59 "Eureka client optimizations for failover and loadbalancing"
1) Eureka client tries to talk to a server in the same zone and fails over to the next server predictably for all clients in that zone. This could put a lot of pressure on the server that all these clients are failing over. These clients should distribute the load to other servers in the case of failover. This can be achieved by choosing a different failover server depending on the client.

2) Cur

[2013-10-15 21:47] karthik-vn opened #60 "Disable full registry download during eureka self-preservation"
During self-preservation mode, eureka clients try to download the full registry instead of deltas.  There does not seem to be any apparent benefit for this - we should continue with fetching the delta fetch and download full registry only if the clients cache and the server information gets out of sync.

[2013-10-18 21:04] karthik-vn opened #62 "Fine tune EIP association"
When eureka server startups, it tries to find the unused EIPS based on the list from it neighboring nodes.

If that communication fails for some reason, multiple eureka servers will bind to the same EIP there by snatching it from one another.

AWS does not prevent reassociation in EC2-classic. A better way to handle this edge-case scenario is to find if the an instance id is associated with an ela

[2013-12-13 16:31] jameskojo opened #69 "Add Client Update Callback"
Add a callback to allow for listeners to be notified when the eureka client gets an update in it's poller.

I'm managing a connection pool to a set of instances in a cluster. I'd like to be able to react in a timely manner to status changes of those instances. E.G. mark-down, mark-up, instance termination and metadata changes.

My current strategy is to poll the client periodically, but that intro

[2013-12-13 18:17] #59 closed, assigned to karthik-vn

[2013-12-13 18:19] #60 closed, assigned to karthik-vn

[2013-12-13 18:19] #62 closed, assigned to nobody

[2013-12-13 18:19] #57 closed, assigned to nobody

[2013-12-27 21:18] NiteshKant opened #70 "Add metrics for HTTP client connection pool"
The apache HTTP client, used by eureka for making HTTP requests to eureka servers does not have any metrics for connection pool. We should atleast be adding the following:

1) Available connections per host.
2) Idle connections per host.
3) Total connections per host.
4) In flight requests per host.

[2014-01-03 06:05] zarfide opened #71 "Support for more than just plain/secure port"
Currently a server can only offer services on 2 ports when integrated with Ribbon since announced addresses are limited to port/secureport.

Ideally an arbitrary number of ports could be supported.  Or at the very least 3, one each for http, https with client auth, https without client auth.

[2014-01-03 22:55] NiteshKant opened #72 "Connection leak on OOM"
Eureka uses jersey apache http client for eureka server communications. In order to cleanup connections, it relies on closing the ClientResponse object returned by jersey. In cases, when there is an unexpected error (like OOM) during reading of response, there is no ClientResponse object that is returned by jersey. In such a case, there happens to be a connection leak in the apache http client con

[2014-01-10 20:04] NiteshKant opened #76 "Discovery client should have a way to skip registry fetch"
For applications that do not make any outbound calls, do not need to fetch the discovery registry information which can have significant memory overhead depending on how many instances are in the registry.

[2014-01-11 09:11] #70 closed, assigned to NiteshKant

[2014-01-11 09:11] #72 closed, assigned to NiteshKant

[2014-02-07 19:41] NiteshKant opened #81 "Optimize amazon metadata service calls"
This code:

https://github.com/Netflix/eureka/blob/42d73d3e36be60e8ddad3ef2014da286c823c8a5/eureka-client/src/main/java/com/netflix/appinfo/AmazonInfo.java#L118

does 7 network calls for every AmazonInfo.autoBuild() call which gets triggered by default every 30 seconds by InstanceInfoReplicator thread in DiscoveryClient.

We can optimize this to only fetch the public hostname & IP which can only c

[2014-02-24 18:12] #76 closed, assigned to NiteshKant

[2014-02-24 18:12] #53 closed, assigned to nobody

[2014-02-24 18:16] NiteshKant opened #87 "StatsTimer usage causes large amount of heap usage."
As discussed in this thread: https://groups.google.com/forum/?fromgroups#!topic/eureka_netflix/ddBO6ostCp0 usage of StatsTimer in this class: https://github.com/Netflix/eureka/blob/master/eureka-client/src/main/java/com/netflix/discovery/shared/EurekaJerseyClient.java#L270 causes memory leak because of misconfiguration of StatsTimer.

In this particular case, we do not need the percentile times pr

[2014-02-24 18:19] #87 closed, assigned to nobody

[2014-02-25 19:24] NiteshKant opened #89 "Provide an API to remove all overridden status"
Eureka has two instance states, one as overridden status and other as actual instance status published by the instance.

The override is generally used to manage instance state from an administration tool like asgard. It will be handy to have an API TO remove all overridden state which will start honoring instance status as published by the instance itself.

[2014-02-25 19:25] NiteshKant opened #90 "Eureka console should show the count of instances by instance status."
The console currently shows the number per application, but does not have the total numbers for the entire registry.

[2014-02-26 23:41] zarfide opened #91 "Add option for field validation"
Feature request:

Add option for variable validation in Eureka Client, for example validation options for what "application" field can look like.  An example of an optional validation could look like something provided by Frigga already:

https://github.com/Netflix/frigga/blob/master/src/main/java/com/netflix/frigga/NameValidation.java

[2014-03-03 12:31] elad-regev opened #92 "Feature Request: Client support for multiple applications registering from 1 process"
I would like Eureka to support multiple services hosted within the same JVM,
which would allow the eureka-client to register all of them instead of the current 1 app per process model (The singleton design prevents me from creating multiple DiscoveryClients in the same JVM).

I would like to know if others may require such feature, in order to decide how to proceed with bridging this gap.

Thanks,

[2014-03-25 08:59] Srinathc opened #93 "Dependency version for jersey-apache-client4 should be 1.11 instead of 1.8"
Since eureka-client directly depends on ribbon-httpclient version 0.3.10, it should use jersey-apache-client4 version 1.11 which is compatible with it instead of version 1.8.

Here is the output of maven enforcer plugin which points to the discrepancy:
Dependency convergence error for com.sun.jersey.contribs:jersey-apache-client4:1.11 paths to dependency are:

<pre>
  +-com.netflix.eureka:eureka-c

[2014-04-01 21:17] aspyker opened #97 "too many queries to metadata url?"
https://github.com/Netflix/eureka/blob/master/eureka-client/src/main/java/com/netflix/appinfo/AmazonInfo.java#L118

autoBuild seems to have an algorithm that retries awsMetaDataRetries in case of error.  I expected to see a break from the while (numOfRetries-- > 0) upon success (where it does result.metadata.put(key.getName(), value);).  Instead in a version of this we copied and changed, we see i

[2014-04-15 04:32] NiteshKant opened #98 "Client's clean shutdown"
Eureka client on shutdown does not cancel all the scheduled tasks it has scheduled.
This may create a race-condition under which, the client may re-register with the server even after shutdown.

The race-condition lies in the [Instance Info replication scheduled task](https://github.com/Netflix/eureka/blob/master/eureka-client/src/main/java/com/netflix/discovery/DiscoveryClient.java#L1416) which i

[2014-04-15 04:44] NiteshKant opened #99 "Add application group to instance info"
Inside netflix we wish to add a grouping criteria for different application under an umbrella. For this purpose eureka needs to publish the application group which then can be used by other clients to do any logic based on the application group.

The application group can be specified via a property "namespace" + "appGroup" where namespace by default is "eureka." and hence the property eureka.appG

[2014-04-16 18:11] #99 closed, assigned to nobody

[2014-04-16 18:11] #98 closed, assigned to NiteshKant

[2014-04-16 18:11] #97 closed, assigned to NiteshKant

[2014-04-22 21:41] #93 closed, assigned to nobody

[2014-04-24 14:28] bpollack opened #109 "Do we want to upgrade to Java 7?"
I'm going through the code to just crush as many generic CheckStyles issues as I can, and noticed that a lot of lines longer than 120 characters would be fine if we went to Java 7 for the diamond operator.  We'd also pick up a bunch of other Java 7 enhancements.  How do you feel about requiring Java 7?

[2014-04-24 17:31] timmc opened #111 "AmazonInfo doesn't delimit namespace when querying properties"
The [current version of AmazonInfo](https://github.com/Netflix/eureka/blob/ce1929b/eureka-client/src/main/java/com/netflix/appinfo/AmazonInfo.java#L162 "Link to latest version as of issue creation time") prepends the  namespace parameter to property suffixes such as `mt.read_timeout`. Since other Netflix projects [such as Zuul](https://github.com/Netflix/zuul/blob/8ca9636a/zuul-netflix/src/main/ja

[2014-04-30 21:14] NiteshKant opened #118 "Missing cache invalidation for remote region requests"
In situations where a discovery client is configured to fetch registry information also from remote region(s), [the cache within the REST endpoint](https://github.com/Netflix/eureka/blob/master/eureka-core/src/main/java/com/netflix/eureka/resources/ResponseCache.java) is not invalidated for any change in the local registry information. Instead it expires after the configured cache expiry time (def

[2014-05-02 21:33] NiteshKant opened #120 "Eureka-JerseyClient-Conn-Cleaner thread should be a daemon"
This prevents application shutdowns.

[2014-05-08 05:52] #120 closed, assigned to nobody

[2014-05-08 05:52] #118 closed, assigned to nobody

[2014-05-21 17:03] jhohertz opened #131 "Recent changes breaks eureka.shouldUseDns=true"
The DNS based lookup appears to have broken in 1.1.132 (or near there).

Nodes come up and never acquire the elastic IP as they should.

[2014-05-21 20:37] #131 closed, assigned to nobody

[2014-05-27 06:34] qiangdavidliu opened #132 "Add ability for eureka-client to only fetch registry of a single application on periodic refresh"
Eureka-server already support application specific registry fetch. It would be useful for eureka-client's periodic refresh to be able to support application specific refresh as well as the more general full/delta refresh.

[2014-06-02 21:46] jboulon opened #135 "DC services are not registered by default after an Eureka re-start"
When Eureka is running in a Data center and in case of Eureka re-start (even rolling upgrade). Eureka will not re-register existing services on the new Eureka node e after re-start.
For AWS instance there's some specific code in place to re-register instances from the same region but that function return false in all other cases.

[2014-06-03 19:55] #132 closed, assigned to nobody

[2014-06-06 08:09] NiteshKant opened #137 "Introduce rate limiting for eureka server"
Eureka servers assumes well behaving clients, i.e.:

- Clients do not aggressively query the servers for data.
- Clients do not do full registry calls but do delta updates.

Although most of the clients use the provided eureka client but there may be some offending clients which do not behave well. These clients can potentially bring down the server by throwing a high amount of load on the server

[2014-06-06 08:15] NiteshKant opened #138 "Eureka Client not resilient to socket read timeouts not getting triggered"
Eureka client uses thread pool schedulers to schedule tasks:
- Fetch registry
- Heartbeats

This assumes that every scheduled task finishes either with success or error. If this assumption is broken, no new tasks (for the same type) gets scheduled.
In some scenarios we have seen inside AWS that the socket read timeouts do not get triggered which makes the thread reading HTTP response stuck and hen

[2014-06-09 19:09] qiangdavidliu opened #139 "Eureka client should identify itself when connecting to the server"
Eureka client requests should include some identifiable header data when connecting to eureka server for tracking and metric purposes. Fields of interest would be:
- client-identifier
- client-ip
- client-version

[2014-07-05 18:37] NiteshKant opened #145 "Healthcheck handler should support returning any InstanceInfo Status"
Current `HealthCheckCallback` only supports a binary status which translates to UP and DOWN status for `InstanceInfo`.
In order to have healthcheck status not used in STARTING state, eureka client does not invoke the healthcheck callback when the status is STARTING.
This forces applications to spread the instance status update in two places:
- `HealthCheckCallback` giving UP/DOWN status.
- Applica

[2014-07-05 18:54] NiteshKant opened #147 "Re-introduce read-only cache in ResponseCache"
In eureka release 1.1.131 the read-only cache in `ResponseCache` was removed.
In our production we have seen high rate of cache misses causing higher latencies for get full registry requests.

[2014-07-06 06:18] #147 closed, assigned to NiteshKant

[2014-07-06 06:18] #145 closed, assigned to NiteshKant

[2014-07-06 06:19] #138 closed, assigned to nobody

[2014-07-08 17:50] #139 closed, assigned to nobody

[2014-07-22 23:23] #135 closed, assigned to nobody

[2014-07-24 23:34] ericadowd opened #152 "Cannot Bind Elastic IP in VPC"
I was trying to run eureka in a VPC; I allocated VPC elastic IPs and started the instance in a VPC. I received an error message when trying to bind to an elastic IP because VPC EIPs require allocation id (which can be found in DescribeAddresses) instead of public IP (which EC2-Classic EIPs require). Though it didn't make it that far, unbinding would also run into a problem because it requires asso

[2014-07-30 06:16] NiteshKant opened #157 "Remote region registry lookup failure should not disable registry fetch"
Eureka server does not allow fetch registry if there is a remote region registry fetch configured and the remote region server is unavailable. Relevant code is [here](https://github.com/Netflix/eureka/blob/master/eureka-core/src/main/java/com/netflix/eureka/PeerAwareInstanceRegistry.java#L398)

This creates a circular dependency between two regions configured to fetch registry data from each other

[2014-08-01 06:44] #152 closed, assigned to nobody

[2014-08-01 17:09] #157 closed, assigned to NiteshKant

[2014-08-25 23:43] NiteshKant opened #174 "Enable injection of BackupRegistry in DiscoveryClient"
Currently DiscoveryClient uses reflection to instantiate `BackupRegistry`.
This makes it impossible for `BackupRegistry` to use injection.

[2014-08-26 19:12] #174 closed, assigned to NiteshKant

[2014-08-27 16:01] tbak opened #181 "Guaranteed instance id uniqueness"
Current Eureka design assumes that clients choose their instance id, and submit it to the Eureka server during registration process. It has some pros/cons versus reversed process, where the server assigns an id to a client and sends it back in a reply to a registration request.

**Client side instance id assignment**
Pros:
* client can choose their own naming schema (use instance id in AWS, or IP

[2014-08-29 19:25] NiteshKant opened #184 "Client usage parity between 1.x and 2.x"
#### Problem

How do we want people using eureka, primarily from the point of view of using eureka client, move from 1.x to 2.x stack?

#### Scope

- This obviously does not cover things that we are improving i.e. new APIs.
- This applies to things like InstanceInfo, DatacenterInfo, InstanceStatus, Healthcheck, etc which are plugin points for users and cause pain when changed.

[2014-09-05 16:12] davidcurrie opened #190 "JAX-RS resources assume EurekaBootStrap driven before class loads"
Many of the Eureka JAX-RS resources assume that the web container is going to drive EurekaBootStrap before loading the classes for those resources. For example, ApplicationsResource has a static field for EurekaServerConfigurationManager. If the container loads the classes first (as is the case for WebSphere Liberty), the instance obtained and stored in the field ends up being null and everything

[2014-09-15 21:14] qiangdavidliu opened #203 "Audit log"
Eureka 2.0 server should produce an audit log for "write" type operations. These would log metadata for InstanceInfo registrations, updates, unregistrations and expiries.

Metadata should include the five Ws:
- who (system, operator, ui)
- what (operation)
- when (timestamp)
- where (source write server)
- why (default categories, operator reasons)

[2014-10-06 15:12] krutsko opened #218 "Eureka server keep Applications data with double underscores"
E.g. /eureka/v2/apps endpoint return a wrong data.

[code]

Eureka uses
https://github.com/Netflix/eureka/blob/master/eureka-client/src/main/java/com/netflix/discovery/converters/JsonXStream.java#L44
which rely on http://grepcode.com/file/repo1.maven.org/maven2/com.thoughtworks.xstream/xstream/1.4.2/com/thoughtworks/xstream/io/xml/XmlFriendlyNameCoder.java#108

XmlFriendlyNameCoder by default conv

[2014-10-10 22:36] #190 closed, assigned to nobody

[2014-11-21 11:45] benjchristensen opened #262 "2.x Servo Dependency - Separate as Plugin"
The Servo dependency should be removed from Eureka 2 and replaced instead with an optional Metrics Publisher plugin since many companies don't use Servo and it should not be a requirement or compile time dependency.

Instead a plugin should be usable to use alternatives such as Yammer/Codahale Metrics or Servo via a plugin implementation.

Example plugins:

- https://github.com/Netflix/Hystrix/tre

[2014-11-24 06:35] #203 closed, assigned to nobody

[2014-11-24 20:20] george-smith opened #265 "current master does not build eureka-core"
testGetAppsDeltaFromAllRemoteRegions() fails With:

java.lang.AssertionError: Apps size from remote regions do not match expected: [2] but was:[1]
	at org.junit.Assert.fail(Assert.java:93)

[2014-11-26 15:37] tbak opened #271 "ClassPathFileRequestHandler does not read resources from jar files"
The problem is twofold. First issue is related to resolving resource URI:
* reading class path resource for file stored directly on the file system requires that is has './' prefix (not sure why)
* for a resource from jar file to be found it cannot have any leading characters like '/' or './'

Second issue is with loading the resource. If an URI is a hierarchical path, like in case of resource in

[2014-11-26 18:51] iamenahs opened #273 "Does Eureka care about multi-tenancy?"
Hi,

When Eureka Registry returns app instance to a client, does it care about multi-tenancy?  E.g. which app instances can serve which tenants. Just wondering how does the Netflix OSS handle this?

Thanks!

[2014-11-28 21:48] #273 closed, assigned to nobody

[2014-12-03 19:32] #218 closed, assigned to nobody

[2014-12-11 00:34] bethesque opened #297 "Documentation out of date regarding privacy of ELBs"
https://github.com/Netflix/eureka/wiki/Eureka-at-a-glance#how-different-is-eureka-from-aws-elb

ELBs may be created in private VPCs and use security groups (since 2012).

http://aws.amazon.com/about-aws/whats-new/2012/06/10/announcing-internal-load-balancing-in-amazon-virtual-private-cloud/
http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/using-elb-security-groups.html

[2014-12-18 19:34] #297 closed, assigned to nobody

[2015-01-04 02:08] ddatsh opened #321 "java.lang.String cannot be cast to org.gradle.api.artifacts.Configuration"
------------------------------------------------------------
Gradle 2.2.1
------------------------------------------------------------

Build time:   2014-11-24 09:45:35 UTC
Build number: none
Revision:     6fcb59c06f43a4e6b1bcb401f7686a8601a1fb4a

Groovy:       2.3.6
Ant:          Apache Ant(TM) version 1.9.3 compiled on December 23 2013
JVM:          1.8.0_25 (Oracle Corporation 25.25-b02)
OS:

[2015-01-04 04:49] tbak commented on #137
Rate limiter functionality was implemented for Eureka 1.0. The rate limiting is performed only for full/delta/application fetches. There are two quotas. One for all query types, and a dedicated one for the full registry fetch.

[2015-01-04 04:49] #137 closed

[2015-01-04 04:53] tbak commented on #109
We completed migration to Java 7.

[2015-01-04 04:53] #109 closed

[2015-01-29 16:36] stephenlow opened #376 "Bump the level of Jersey for Eureka server to at least 1.13 due to loading static resources issue."
Cannot load non-REST static resources such as CSS, images and JS on WebSphere Application Servers.

Attempting to load these static resources (i.e. a redirect to http://localhost/eureka/jsp/status.jsp or http://localhost/eureka/css/main.css for example) gives back a 404. The issue is described in JIRA at the following:

https://java.net/jira/si/jira.issueviews:issue-html/JERSEY-880/JERSEY-880.html

[2015-01-29 16:39] stephenlow commented on #376
Jersey Version needs to be updated in build.gradle

[2015-01-29 16:52] tbak commented on #321
Eureka was built previously with gradle 1.x. It has just been upgraded to gradle 2.x with a new nebula plugin. All scripts in gradle folder have been removed.
Please, try it again. Do not run your system installed gradle, but call ./gradlew which will execute configured gradle wrapper for Eureka.

[2015-01-29 16:53] tbak commented on #265
As there was no further followup on this issue, I am closing it.

[2015-01-29 16:53] #265 closed

[2015-01-29 16:57] tbak commented on #262
Eureka 2.0 comes now with set of interfaces for metrics integration.
There are two implementations provided:
- NoOp - void implementation, set by default for eureka-client
- spectator plugin

[2015-01-29 16:57] #262 closed

[2015-01-29 17:20] benjchristensen commented on #262
+1

[2015-01-30 06:19] tbak commented on #376
Thanks for pointing this out. We have to make a few other changes to bump to higher version, as eureka-client is a direct or transitive dependency in other projects. We are working right now on this.
For the meantime, you have to overwrite the version in your gradle config.

[2015-01-31 17:39] futurely opened #380 "Eureka2 BasicDataCenterInfo typo"
https://github.com/Netflix/eureka/blob/2.x/eureka2-core/src/main/java/com/netflix/eureka2/registry/datacenter/BasicDataCenterInfo.java

[code]
The last line should be ` if (addresses == null || addresses.isEmpty()) {`.

[2015-01-31 17:45] futurely commented on #181
Why not both ids?
[code]

[2015-01-31 18:07] futurely opened #381 "Eureka2 RetryStrategyFunc is not exponential backoff"
https://github.com/Netflix/eureka/blob/2.x/eureka2-core/src/main/java/com/netflix/eureka2/utils/rx/RetryStrategyFunc.java

[code]
The exponential backoff should be `Math.pow(2, i) * retryIntervalMillis`.

[2015-01-31 18:59] qiangdavidliu commented on #380
Thanks for the catch.

[2015-01-31 19:14] qiangdavidliu commented on #381
Thanks for the catch.

[2015-01-31 19:17] qiangdavidliu commented on #181
Thanks for the suggestion @futurely . That's an interesting idea and we will look into it.

[2015-02-03 17:17] tbak opened #384 "2.x State information propagation in the interest channel to the client"
This is a proposal for state information propagation in the interest channel to the client.

# Problem to solve
As interest stream subscription is reactive, there is no way for client to know how much relevant data is available when the subscription starts. If the client is a load balancer, it is critical to wait until available pool of servers is loaded before application requests are allowed, to

[2015-02-04 17:51] qiangdavidliu commented on #381
fixed

[2015-02-04 17:51] #381 closed

[2015-02-04 17:52] qiangdavidliu commented on #380
fixed

[2015-02-04 17:52] #380 closed

[2015-02-05 18:23] tbak opened #389 "Eureka 1.x - there is no mechanism provided to remove overridden status"
Eureka 1 allows one to override an instance status via issuing the following REST call:
```PUT /eureka/v2/apps/appID/instanceID/status?value=OUT_OF_SERVICE```
This is useful if we want to take otherwise healthy instance out of service. The instance info data contain afterwards two status related fields:
[code]
To mark instance as up we can modify again the overriddenstatus field by calling:
```PUT

[2015-02-05 18:32] NiteshKant commented on #389
I would prefer the support for DELETE overridden status for the following reason:

The merge algorithm addresses the "most common" usecase for today (for Netflix). I can think of corner cases when someone wants to override DOWN status from the instance with UP, may be in the case the healthcheck has an issue or it is flapping.

There is value in being consistent with the definition of "overridden

[2015-02-06 19:16] tbak opened #402 "Eureka 1.x - add additional guard in InstanceInfo.getHealthCheckUrls"
Currently this method will return Set object with null values in it, if enabled port(s) has no health check URL provided.

[2015-02-09 03:03] qiangdavidliu commented on #384
For the proposed hint markers, it seems the Buffer hint is always sent for all cases described. From a behaviour point, what does the Buffer hint offer? It seems that consuming clients and/or operators only need to listen for the finishBuffer hint for an optimised buffering experience regardless of whether there are prior Buffer hints. E.g. the consumer should be able to apply a collection operato

[2015-02-09 04:08] qiangdavidliu opened #409 "2.x Client API Re-organisation"
# Problem to Address
The current eurekaClient public API exposes registrations and interest discovery in the following way:
* registration and updates are handled by sequential calls to register(info), and unregistration by a separate unregister(info) method. Both of these methods return an Observable<Void> that denotes the success/failure of the given operation. The problem with this API is that

[2015-02-09 04:14] qiangdavidliu opened #410 "2.x Client InterestChannel Should Implement InstanceInfo Cleanup"
When the client InterestChannel receive a change(Interest) command, it should have the option to explicitly unregister from the registry instanceInfos that are no longer wanted by any consumer. This is useful for users with tighter memory requirements.

[2015-02-09 05:16] NiteshKant commented on #384
I think it will be useful to provide code samples on how a client will consume this API. There are a lot of complex constructs as conditional batching and non-batching modes. I would like to see how this manifests on the consumer end.

A few implementation related questions:

- How are these batching hints stored? It looks to me from your description of the various scenarios of multiple subscriber

[2015-02-09 05:46] NiteshKant commented on #409
@qiangdavidliu the changes look good to me. I do have a few questions:

Does this mean that a client will have a to use a helper class for registration?
I am not convinced that we should go that route. If `InstanceInfo` is complex to create, we should provide ways in `InstanceInfo` to make it easier to use, as opposed to having a separate class that does so. The reason being intuitiveness of the A

[2015-02-09 16:36] tbak commented on #321
@ddatsh Have you tried to build Eureka using the provided wrapper? If there were no other problems with that I would like to close this issue.

[2015-02-09 16:39] tbak commented on #389
This issue is a duplicate of #89.

[2015-02-10 02:35] #321 closed

[2015-02-10 03:43] ddatsh opened #414 "getDispatcherType() is undefined for the type HttpServletRequest"
eureka-server-1.1.148-SNAPSHOT
tomcat 8

org.apache.catalina.core.StandardWrapperValve.invoke Servlet.service() for servlet [jsp] in context with path [/eureka] threw exception [Unable to compile class for JSP:

An error occurred at line: [53] in the generated java file: [D:\dev\java\server\tomcat\8\work\Catalina\localhost\eureka\org\apache\jsp\jsp\status_jsp.java]
The method getDispatcherType() i

[2015-02-10 07:47] qiangdavidliu commented on #414
@ddatsh are you running this in an IDE or on the command line?

[2015-02-10 12:56] ddatsh commented on #414
run it in tomcat 8

[2015-02-10 17:25] tbak commented on #414
We have transitive dependency that includes servlet-api 2.5 jar into eureka.war. The one eureka depends on directly (version 2.4) is marked as provided. I have just fixed that, and now I am able to run Eureka UI on tomcat 8.

[2015-02-10 17:34] tbak commented on #414
I have just pushed a PR for this bug (#416).

[2015-02-10 18:52] #414 closed

[2015-02-10 18:53] tbak commented on #402
Fixed by PR #412

[2015-02-10 18:53] #402 closed

[2015-02-10 18:55] tbak commented on #389
Fixed by #412.
Overridden status can be removed via DELETE REST call.

[2015-02-10 18:55] #389 closed

[2015-02-10 18:55] tbak commented on #89
Fixed by PR #412

[2015-02-10 18:55] #89 closed

[2015-02-12 06:46] futurely commented on #184
Sync API over async implementation may not be beneficial.
[Should I expose synchronous wrappers for asynchronous methods?](http://blogs.msdn.com/b/pfxteam/archive/2012/04/13/10293638.aspx)
[Good practice - Use the sync-over-async invocation pattern with caution](https://www.ibm.com/developerworks/community/wikis/home?lang=en#!/wiki/W7b59e5e25210_4b56_9b7e_69dab379734a/page/Good%20practice%20-%20%2

[2015-02-13 18:57] tbak opened #422 "1.x error reporting for unsuccessful status update should be more meaningfull"
Right now status update resulting in an error returns something like this:
[code]

[2015-02-13 21:48] tbak commented on #384
Implemented by PR #403

[2015-02-13 21:48] #384 closed

[2015-02-17 09:59] teeratpitakrat opened #425 "Gradle build fails for ZIP file"
The build fails when building the downloaded zip file:
[code]
The problem seems to be the missing .git folder. Building the clone with .git removed results in the same problem.
Tested on Ubuntu 12.04.5 LTS and Archlinux.

[2015-02-17 18:31] qiangdavidliu commented on #425
Hi @teeratpitakrat unfortunately our new build process requires git pull if you are building from source. Is this a blocking issue for you w.r.t. using eureka?

[2015-02-17 18:57] teeratpitakrat commented on #425
Hi @qiangdavidliu, I was trying to add eureka as a submodule inside another git project. Then, git modified .git folder of eureka and caused this problem.

My temporary solution is to clone eureka and put it inside that git project without committing (which is a little inconvenient).
It would be great if eureka can be built without the dependency to git.

[2015-02-17 19:48] qiangdavidliu commented on #425
@teeratpitakrat do you need to edit source code? If not, why not just depend on the published eureka artifacts?

[2015-02-18 12:52] teeratpitakrat commented on #425
@qiangdavidliu Unfortunately, I need to edit the source code.

[2015-02-18 21:27] qiangdavidliu commented on #425
@teeratpitakrat unfortunately it looks our new build process does not allow eureka to be used as a git submodule inside another project. If your changes to eureka are not domain specific for your case, feel free to send us pull requests. If you would like to make changes to the build files to enable submoduling, that would be appreciated also.

[2015-02-22 01:57] charleswhchan opened #431 "CloudBees embedded build status showing 'unknown'"
The embedded build status defined in README.md is currently showing 'unknown'.

Performs a configuration issue? According to the Embeddable Build Status Icon page:
https://netflixoss.ci.cloudbees.com/job/eureka-master/badge/

[2015-02-22 03:44] tbak commented on #431
Thank you for spotting this. We created recently a new Jenkins build job for Eureka at different location. I have pushed fix for this (#432).

[2015-02-22 03:44] #431 closed

[2015-02-22 06:16] charleswhchan commented on #431
Thanks!

[2015-02-23 19:36] tbak commented on #42
To eliminate syncUp just set ```eureka.numberRegistrySyncRetries=0```. Once it is set, the server starts up instantly.
I propose to close this issue, as there was no follow up on it for some time, and there is alternative approach to achieve this goal.

[2015-02-23 19:41] tbak commented on #271
This is RxNetty issue, not Eureka's. I am closing it.

[2015-02-23 19:41] #271 closed

[2015-02-23 19:59] tbak commented on #422
Fixed by PR #433

[2015-02-23 19:59] #422 closed

[2015-02-26 00:16] #42 closed

[2015-02-26 17:17] tbak opened #439 "2.x Eureka server health monitoring"
Eureka 2.0 health monitoring

# Concept

Each Eureka component manages its own health information, which is aggregated in one place where overall system health status is derived.

A component that wishes to provide its health status must implement:
[code]
```healthStatus``` method returns an observable of health status changes. The returned observable shall never emit an error, and should complete

[2015-02-26 18:04] NiteshKant commented on #439
Is there a value in having these as two different Status? IOW, why not have the components return `InstanceInfo.State`?

I think we are conflating the health status with this granular information.

Bigger question: "Can the subsystem status better be exposed via metrics and have the system health as _a_ status, potentially aggregated over multiple sources?"

In absence of subsystem statuses, Is th

[2015-02-26 18:14] qiangdavidliu commented on #439
This proposal, taken from a more generic perspective, seems like something that would be an interface in Karyon and services built on top should provide specific implementations. It should then be Karyon's responsibility to feed the aggregated status back to eureka for eureka status.

[2015-02-26 18:21] tbak commented on #439
I would like to expose internal system health, so having original status values is beneficial.

It is not health status in a sense we have it for external application monitoring. The point here is to have access to this granular information.

Metrics are a must, and they are orthogonal to current status monitoring. Metric values could be collected from local counters (not remote monitoring system)

[2015-02-26 18:22] qiangdavidliu commented on #409
This issue is still pending a part 2 clean up of the client builder.

[2015-02-26 18:32] qiangdavidliu opened #440 "2.x Eureka server providing backwards compatible eureka 1.0 REST endpoints"
Migration of ecosystems that currently rely on Eureka 1.0 to eureka 2.0 can be greatly eased if Eureka 2.0 is able to provide equivalent REST endpoints used by eureka 1.0 client.

Specifically, the endpoints to be supported are:
**Read Endpoints**
* GET /apps
* GET /apps/delta
* GET /apps/{appName}
* GET /vips/{vipAddress}

(optionally the read endpoints should support query parameter region={REGI

[2015-02-26 18:39] qiangdavidliu opened #441 "2.x Eureka server should provide Status overrides"
# Concept

It is possible to override Eureka InstanceInfo information but issuing REST API call to any of the Eureka write cluster nodes. The override data will be kept in separate registry, and override information will be applied on the client interest stream.

[code]

It is possible to override any InstanceInfo attribute, however this feature is provided primarily for status override.

The over

[2015-02-27 16:47] tbak commented on #439
Following the discussion I am removing component specific STATE type parameter. Each component will emit InstanceInfo.Status values. This will simplify API and implementation. If we find it too restrictive (we are now limited practically to DOWN/UP status values with no way to express partial component failures), we may consider putting it back in the future.

[2015-03-03 00:12] qiangdavidliu opened #448 "2.x Eureka Read - Exception handling in DNS loading"
ResourceLoaderException thrown in DnsChangeNotificationSource.java does not seem to be handled by callers, and have observed to be thrown on the read server:

<pre>
Exception in thread "RxComputationThreadPool-4" java.lang.IllegalStateException: Fatal Exception thrown on Scheduler.Worker thread.
	at rx.internal.schedulers.ScheduledAction.run(ScheduledAction.java:54)
	at java.util.concurrent.Execut

[2015-03-03 00:26] qiangdavidliu opened #449 "2.x Eureka Read - forInterest to read server composed with buffers and snapshots not batching as expected"
When forInterest() client API is composed with .compose(buffers).compose(snapshots), the expected result are batches of full instanceInfo snapshots. However when the below single testApp is used to query the write and read servers, different behaviour is observed.

For the write server, the correct counts are observed (counts for each onNext are ~ equal with the expected delta differences).

For t

[2015-03-03 08:11] NiteshKant commented on #441
Since, we know that it is useful only for status overrides, is there any value in making it generic for any override? Do we see this applying to any other attribute in the future?

Does this mean, we will always be merging multiple notifications from multiple `Observable` sources? Is the override an optional feature or it is always available with the server?
If it is always available, why would we

[2015-03-03 17:14] futurely opened #450 "Is it possible to use a generic data synchronization framework?"
For example, "AeroGear data synchronization project is an implementation of Google's Differential Synchonrization by Neil Fraser".
https://github.com/aerogear/aerogear-sync-server
https://aerogear.org/sync/
https://aerogear.org/docs/specs/aerogear-data-sync/

[2015-03-06 17:49] tbak opened #455 "1.x discovery client treats HTTP redirects as errors"
Although discovery client properly handles HTTP request redirects, every returned status code other than 200 is regarded as an error.

[2015-03-09 20:52] qiangdavidliu commented on #409
Issue resolve per pull requests #426 and #444

[2015-03-09 20:52] #409 closed

[2015-03-09 20:53] qiangdavidliu commented on #449
fixed

[2015-03-09 20:53] #449 closed

[2015-03-09 20:53] qiangdavidliu commented on #448
fixed

[2015-03-09 20:53] #448 closed

[2015-03-12 15:49] wbauern opened #458 "Lookup based upon service metadata?"
Is there any way in Eureka to do a service lookup based upon values in the service metadata?

Thanks!

[2015-03-12 15:55] tbak commented on #458
No, it is not possible. You will have to download all registry and do filtering yourself. Eureka supports application GETs, so if your application set is limited, you can try that route.

[2015-03-13 21:48] benjchristensen opened #462 "Eureka2 DP Release"
The last release DP4 was in December, are you in a position to provide another release? I'm interested in doing further testing with it in the ReactiveLab project.

[2015-03-13 22:08] qiangdavidliu commented on #462
We are pretty close to doing an RC1 release. We were hoping to do this this week but wanted to double check some server-side metrics so right now RC1 is looking to be next week. Would that be soon enough for you?

[2015-03-13 22:15] benjchristensen commented on #462
Next week is good. Thank you.

[2015-03-18 05:13] qiangdavidliu opened #467 "2.x Rx backpressure support for server send of ChangingNotifications"
Current eureka constructs for sending ChangeNotifications (NotificationsSubject/PauseableSubject etc) are implemented before rxJava backpressure support was available. The upcoming RxNetty 0.5 release will contain RxJava backpressure integration with channel read & write.

Once this release is available, server side send of ChangeNotifications should be reworked so that backpressure is supported a

[2015-03-19 20:15] #458 closed

[2015-03-20 18:47] qiangdavidliu commented on #462
@benjchristensen rc.1 is now released and we have updated wiki documentation as well for configuration and use. Please take a look at:
* https://github.com/Netflix/eureka/wiki/Eureka-2.0-Client-Configuration-And-Use
* https://github.com/Netflix/eureka/wiki/Eureka-2.0-Server-Configuration-And-Use

[2015-03-20 19:54] #439 closed

[2015-03-20 20:03] qiangdavidliu commented on #450
@futurely we will take a look into this. Thanks for the links.

[2015-03-20 20:09] qiangdavidliu opened #475 "2.x Use a lighter Interest Client implementation for EurekaServerResolver"
Currently the EurekaServerResolver creates a new (full) EurekaInterestClient to get a first batch of read server data from write severs, and shuts it down immediately afterwards. This is expensive for an operation that should be relatively light.

[2015-03-20 20:13] qiangdavidliu opened #476 "2.x Implement registry read with fallback to write server for interest client"
Currently canonical  eureka interest clients call EurekaServerResolver (which reads the latest read server notifications each time resolve() is called) to connect to read servers. A better approach would be to supply a composite resolve when setting up the interest client that
1. reads read server information from the registry if available.
2. fallback to EurekaServerResolver otherwise.

This will

[2015-03-20 20:15] qiangdavidliu opened #477 "2.x Write Server Initial Sync"
When a write server boots up, it should not be marked as UP until after it has synced up with all of it's peers. A corollary of this is that the replication protocol need to support metadata exchanges to indicate to receiver servers that it has received all the information the sender has for the initial sync.

[2015-03-23 16:18] SERVICEPEMANASAIR opened #480 "service wika-081291315510"
SERVICE WIKA SWH PEMANAS AIR JAKARTA SELATAN hp 02191389699 melayani jasa service solahart dan wika swh{solar water heater} 24 jam di jabodetabek service call 081905220200 cv.eka mandiri jaya.pak ahiong

[2015-03-24 01:53] qiangdavidliu opened #482 "2.x Registry attach specific subjects on demand for each Source that has an interest registered"
The sourced registry today uses a single subject for ChangeNotification publishes and use .filter() on this stream to generate source specific interest notifications. This leads to a case where notifications for certain sources can be lost (i.e. during a holder snapshot change over). This especially affects replication today.

Pull requests #469 and #481 attempts a quick fix for this problem, but

[2015-03-25 21:39] qiangdavidliu opened #484 "2.x channel connection initial handshakes"
Enhance current eureka channels to provide an initial handshake at connection time to establish identity, protocol, heartbeat rate etc.

[2015-03-25 22:03] qiangdavidliu opened #485 "2.x Replace replication channel with Interest channel"
The current replication channel connections are very similar to the interest channels, with the exception that interest channels are client initiated and replication channels are server initiated. This needs not be the case. Related to issue #484, if all channels provide an initial handshake, we can remove replication channels completely and just use the interest channels for write server replicat

[2015-03-26 16:41] NiteshKant commented on #485
Are you referring to the similarity as the data that flows on the channel or how the Channel is implemented on client and server?
Semantics of storage, heartbeats and expiries are very different for a replication channel, isn't?

[2015-03-26 19:05] qiangdavidliu commented on #485
Correct, however the semantic differences can be either merge in the future (e.g. in the case of expiry with a better eviction mechanism) or are better applied at a higher level (such as in the case of storage).

[2015-03-26 19:18] NiteshKant commented on #485
May be it will be better to see the implementation to better understand your thoughts. So, let me hold on till then :)

[2015-03-30 21:38] qiangdavidliu commented on #475
fixed in #487

[2015-03-30 21:38] #475 closed

[2015-03-30 21:41] qiangdavidliu commented on #17
Closing old issue. Please re-open if the issue is still not resolved.

[2015-03-30 21:41] #17 closed

[2015-03-30 21:45] qiangdavidliu commented on #24
This is possible by implementing a DataCenterInfo that also implement UniqueIdentifier.

[2015-03-30 21:45] #24 closed

[2015-03-30 21:50] qiangdavidliu commented on #440
Done in #454 #473

[2015-03-30 21:50] #440 closed

[2015-04-08 00:51] qiangdavidliu opened #493 "2.x Dynamically add ChannelHandlers in ChannelPipeline"
Current eureka2 ChannelPipelines are statically defined and the list of handlers for a given pipeline cannot be modified. ChannelPipelines are threadsafe and supports dynamically adding and removing handlers which gives a lot of flexibility.

An example of where this may be useful is in the case of initial handshakes (issue #484) that can communicate protocol versions, based on which specific hand

[2015-04-09 21:37] #462 closed

[2015-04-09 21:37] #455 closed

[2015-04-10 21:21] qiangdavidliu commented on #493
Pull #497 provides some of the functionality for this. With http2 support in rxNetty 0.5 coming soon there may be bigger changes to the transport layer (e.g. multiplexed registration/interest over the same http2 connection) so will reevaluate when that comes.

[2015-04-20 12:48] dmelani opened #498 "Wrong enum in documentation"
There is an error with one of the examples on the wiki page where the REST operations are listed.

The page in question is https://github.com/Netflix/eureka/wiki/Eureka-REST-operations

The erroneous example is "Take instance out of service". The problem here is that this example uses the enum OUT_OF_SERVICE, which is not defined in the XSD.

[2015-04-20 15:38] tbak commented on #498
XSD documentation was incomplete. I have added missing two states (OUT_OF_SERVICE and UNKNOWN).
Thank you for spotting this.

[2015-04-20 15:39] #498 closed

[2015-04-27 16:21] tbak commented on #477
# Proposed implementation

Eureka server bootstrapping may happen from different sources, depending on Eureka cluster lifecycle:

* for initial startup, there is no prior data available, so servers should start with empty registries
* for existing cluster, when a new write server is brought up, it should ideally take full registry content from one of its peers
* when full cluster is restarted, or

[2015-04-28 06:37] NiteshKant commented on #477
What will be the downside of only considering option 3:

as a "bootstrap" scenario and any other scenario as a usual replication scenario? In other words, what is the usecase of getting the entire registry contents from a source (peer or backup) when other peers are available in the cluster?

AFAIU, the entire registry would be required to assert if it is safe to serve registry contents to clients

[2015-04-30 19:06] tbak opened #501 "2.x Subscription to SourcedEurekaRegistry in write server does not always emit execution status"
This might be caused by a composition of ```PreservableEurekaRegistry``` and ```SourcedEurekaRegistryImpl```. I have noticed this during testing bootstrapping feature were status result was used to track number of successfully added entries.

[2015-04-30 19:56] tbak commented on #477
Some key points from our offline discussion:
* bootstrapping from replication channel as a first step is a good thing, but slightly complex to implement. We will not do this now, but possibly some time in the future
* doing full registry fetch from a peer or backup cluster should be fast enough, to not impact server bootstrapping time too much
* we will have single external bootstrap source, so th

[2015-04-30 21:02] qiangdavidliu opened #502 "2.x Named Eureka Server Groups"
## Problem To Solve
Eureka2 write is designed so that a full network can be partitioned into several eureka2 sub-networks, where each sub-network contains an eureka2 write cluster taking registrations from all instances from their sub-network. One example of such a setup is deployment in AWS's regional model, where an eureka2 write cluster need to exist per region to service registrations from all

[2015-04-30 21:20] tbak commented on #477
Implemented by PR #500

[2015-04-30 21:20] #477 closed

[2015-04-30 21:50] tbak commented on #501
I was not able to reproduce this error. I think it was misunderstanding on my side. During bootstrapping we do full registry fetch over interest channel, but also replication channel is started in parallel. Some entries got loaded via replication, so when added afterwards when received from bootstrap source, there was no registry size change. This is consistent with observation, that ultimately fi

[2015-04-30 21:50] #501 closed

[2015-05-01 05:05] NiteshKant commented on #502
Could an alternate be to initialize multiple interest client instances and merge the interest stream if/when required? I do not quiet understand the need of adding this to the client & interest DSL when it can easily be solved by having a client per server group.

[2015-05-01 16:02] tbak commented on #502
I think it is more about transport optimization. If we access cross region data via read cluster, we minimize inter-region traffic + improve bootstrap latency.

[2015-05-01 16:41] NiteshKant commented on #502
@tbak I am just questioning the change in the client via introduction of data sources.

Multiple server groups inside the _same_ client does not sound the correct abstraction to me. I see the following usecases:

- Read server configured to read from multiple regions: This is a server level configuration and the decision to use which client should be split at the time of query for an interest, cho

[2015-05-01 21:09] qiangdavidliu commented on #502
Per discussions, some confusion were around whether the configurations specified are for read servers only, or also for EurekaClient used by users. The configurations are only for the former and will not be for  clients exposed to end users.

There are also some discussions tbd on whether a more specific DSL should be used to specify the "dataSource" vs using strings.

[2015-05-11 18:05] qiangdavidliu opened #512 "2.x SerializedTaskInvoker is not needed for EurekaInterestClient (and derivatives)"
The SerializedTaskInvoker is current attached to the Eureka SourcedRegistry to guarantee synchronization of registrations and unregistrations from multiple sources into the registry. Synchronization is necessary for the write server as their input sources are from multiple channels, but for the EurekaInterestClient (including the read server) the input source is always from a single interest chann

[2015-06-03 15:27] brenuart opened #531 "Lease renewal: inconsistency between Lease.renew() and Lease.isExpired()"
There seems to be an inconsistency between the two following methods (from `com.netflix.eureka.lease.Lease`:

    public void renew() {
        lastUpdateTimestamp = System.currentTimeMillis() + duration;
    }

    public boolean isExpired() {
        return (evictionTimestamp > 0 || System.currentTimeMillis() > (lastUpdateTimestamp + duration));
    }

When the lease is renewed, the `lastUpdated

[2015-06-05 07:14] qiangdavidliu commented on #531
@brenuart thanks for point this out, this indeed looks to be the case. We'll take a look at the impact of this and get back to you on whether we fix or update the comments (as this code is very old and been working in our production for a while, this unintended behaviour may be something that clients now expect, and is therefore potentially harmful to change). Thanks again.

[2015-06-05 07:29] brenuart commented on #531
The self protection mode of our Eureka got activated for some reason so lease expiration was temporarily suspended. We then had a look at the registry lease data searching for instances that expired... and discovered that some had their `lastRenewalTimestamp` in the future... This is how we discovered the issue.

[2015-06-05 15:18] brenuart opened #533 "BelowRenewThreshold: isBelowRenewThreshold() & isLeaseExpirationEnabled() do not agree"
Eureka activate its self protection mode when last minute's renewal rate is below the threshold.
The following two methods of `com.netflix.eureka.PeerAwareInstanceRegistry` do not agree on the condition:

     public int isBelowRenewThreshold() {
        if ((getNumOfRenewsInLastMin() < numberOfRenewsPerMinThreshold)
    ...

For that method, self protection should be activated when `renewsRate <

[2015-06-08 15:23] brenuart opened #536 "Improvement: optional read only ResponseCache"
It would be nice if the use of the read only response cache could be made optional. Although it seems be useful in some scenarios (see https://github.com/Netflix/eureka/issues/147), it also imposes an additional delay before changes are reflected in the Eureka REST API. This extra delay is very annoying in some deployments.

Is this something that could be foreseen?

[2015-06-08 18:03] qiangdavidliu commented on #533
fixed in #537

[2015-06-08 18:03] #533 closed

[2015-06-08 18:41] qiangdavidliu commented on #531
Comments updated in #537

[2015-06-08 18:41] #531 closed

[2015-06-08 20:32] brenuart opened #539 "InstanceInfoReplicator causes the next Heartbeat to Register the instance"
The following piece of code is executed when the `InstanceInfoReplicator` is triggered:

     if (instanceInfo.isDirty()) {
       register();
       instanceInfo.setIsDirty(false);
     }

`instanceInfo.setIsDirty(false)` has the additional side-effect of setting the `lastDirtyTimestamp` to 'now', so the current value is different from the one transmitted to the Eureka server during the `register

[2015-06-08 22:22] qiangdavidliu commented on #539
@brenuart this is already fixed.

[2015-06-08 22:22] #539 closed

[2015-06-08 22:23] qiangdavidliu commented on #536
@brenuart this is a feature that we needed internally to help eureka scale to our production usage. It would be useful to have this controllable via a server configuration however. Would you like to make a pull request for this?

[2015-06-08 22:30] brenuart commented on #539
Fine. Was working with version 1.1.147
Sorry about this "false" issue :(
Could you tell me in which version this fix has been made available?

[2015-06-09 01:32] qiangdavidliu commented on #539
Sorry should have been more clear. The fix was released in release 1.1.156

[2015-06-09 12:08] brenuart commented on #536
I will submit a PR for this.

To be honest, I don't understand why this extra RO cache helps to make performance better. There is already a first cache... why isn't it sufficient?
I understand the RO cache has the same effect of delaying the invalidations - just like if you applied them in batch of say 100. Is that the objective?

[2015-06-10 21:44] qiangdavidliu commented on #536
Hi @brenuart thanks for the pull request. The readonly cache exist as it's a non-expiry based cache compared to the readWriteCache. What we had observed previously was that the increased numbers of 503s (caused due to cache misses on gets as items are expiring) was causing more issues for us due to the scale of usage.

[2015-06-11 08:55] brenuart opened #545 "Improvement: "CacheRefresh" event"
We are looking for a way to be notified when the Eureka client has refresh its local cache. This could help to quickly react on changes in the list of discovered instances, like adapt balancing/routing behaviour.

The `DiscoveryClient` doesn't expose any public/protected method that could be easily overridden to implement such behaviour. However, we were wondering if the `DiscoveryClient` could be

[2015-06-11 17:33] qiangdavidliu commented on #536
#544

[2015-06-11 17:33] #536 closed

[2015-06-11 17:42] qiangdavidliu commented on #545
@brenuart this would be a useful feature. A simple hook point for this would be to publish this event after every successful execution of the CacheRefreshThread, however this may return some false positives as not every refresh will actually have updates to the local cache. To publish this event only for real changes  may involved some careful hooks to a few different methods (starting point would

[2015-06-11 20:21] brenuart commented on #545
Some remarks:

(1) First question is what kind of event do we need ?
A `CacheRefreshedEvent` would simply tell the world the cache is refreshed and up-to-date. It doesn't say something has changed. We could leave the change detection to a separate component that would perform the diff and eventually send another event with the change information.

A `CacheUpdateEvent` on the other hand would be se

[2015-06-12 16:30] brenuart commented on #545
@qiangdavidliu ping?

[2015-06-12 19:24] qiangdavidliu commented on #545
@brenuart sorry was busy with other work.

I believe you and I essentially have the same agreement in both of our comments, that is there is two ways to go about this.

The simpler way is to emit events on the cacheRefresh, which gives false positives as not all cache refreshes actually updates data. This is pretty straight forward to add.

The more complex and better way to generate events for re

[2015-06-15 22:03] #545 closed

[2015-06-17 20:17] brenuart opened #554 "DiscoveryClient maintains a STATIC reference to its EurekaClientConfig"
`DiscoveryClient` keeps reference to its `EurekaClientConfig` via a _STATIC_ variable. This may lead to unpredictable behaviour if multiple instances of the client are created.

[2015-06-17 20:19] brenuart commented on #92
This may now be possible thanks to the DI-refactoring work introduced in recent versions. You may still be stuck by the following issue though: https://github.com/Netflix/eureka/issues/554

[2015-06-18 07:59] brenuart commented on #554
The `clientConfig` static field is still used by static methods that are now deprecated. Removal of the static is therefore impossible until these methods are actually removed.

In the meantime, it would be useful to add a safe guard in the constructor to check if an instance has already been created and throw an exception otherwise. This would prevent people from creating multiple instances until

[2015-06-25 01:01] qiangdavidliu commented on #554
Since most of the static methods are deprecated (and the remaining ones are fixable), one way out of this bind is to keep two copies of clientConfig, one static and one instance level. The static clientConfig will be used by the deprecated static methods, and the setting of this will be by each client construction (so slightly undefined as to which version you will get when referenced statically).

[2015-06-25 04:54] brenuart commented on #554
Don't you think it might be a better idea to simply prevent multiple instances from being created? I mean, if the the static field is already set, then throw an exception.
The now deprecated static methods are used by clients who assume the singleton pattern anyway - so they are not likely to create multiple instances. And if they do, they are already facing unexpected behaviour.

[2015-06-25 18:09] qiangdavidliu commented on #554
If the aim of this is to support multiple instances of DiscoveryClient to be created (for some specific use cases), and the only blocking item is the static client config, then adding exceptions would not be a good user experience, especially since it looks like it's not difficult to make the client config an instance variable of the client itself without compromising the singleton usage of client

[2015-07-06 15:48] tbak opened #575 "2.x Eureka2 home page"
Currently Eureka2 hasn't any home page, but instead provides two Karyon webadmin UI pages (registry insight and server status). These pages are strictly Eureka2 specific, as unlike in Eureka1 where there was always local full registry copy, in Eureka2 there might be multitude of different client subscriptions, dynamically changing over time. The latter may be tracked but only within a framework, w

[2015-07-22 15:42] jeffreymyers opened #590 "Doc: AWS credentials obtained through InstanceProfileCredentials"
Minor issue with the wiki documentation here: https://github.com/Netflix/eureka/wiki/Configuring-Eureka-in-AWS-Cloud#eureka-aws-specific-properties

This section indicates that setting the AWS IAM keys via the configuration is required, but looking at the code, it falls back to using the AWS SDK's InstanceProfileCredentialsProvider to pick up the credentials dynamically from the EC2 Instance Metad

[2015-07-22 17:39] qiangdavidliu commented on #590
Fixed, thanks @jeffreymyers

[2015-07-22 17:39] #590 closed

[2015-07-28 22:03] cforce opened #597 "add application version field"
The feature allows to register the same application in different versions at the same time. The lookup is able to filter the application instance list returened on the wished version (range) on query, not only on client side. We can also retrieve the latest (version) application instances only.
This could also be done by a naming schema for application names, like applicationname>_<version>. Howev

[2015-07-28 22:04] cforce opened #598 "add application alias names"
Similar to cnames this feature allows to register and lookup the same app under more than one name,

[2015-07-29 22:56] qiangdavidliu commented on #597
@cforce thanks for the suggestion. Are you interested in making a pull request for this feature?

[2015-07-29 22:56] qiangdavidliu commented on #598
@cforce thanks for the suggestion. Are you interested in making a pull request for this feature?

[2015-07-31 05:29] cforce commented on #92
Is there an example how code looks like to do that multi register?

[2015-07-31 05:35] cforce commented on #597
I have to somehow find a solution. Because of this feature missing i would do it in the client by missung the vip field - however this solution is a workaround. I hoped you maybe have an better idea or already had same thoughts in this direction.

[2015-07-31 05:35] cforce commented on #598
How would you implement that?

[2015-07-31 06:35] cforce opened #600 "Eureka Client dependency update to Jersey 2.x"
We have to add the spring-boot-starter-jersey to put Jersyey 2.14 on the classpath. The mix of both versions lead to strange NoSuchMethodErrors during application startup! The only solution seems to be to use JAX-RX 1.x (Jersey 1) . This is maybe related to https://github.com/Netflix/eureka/issues/376

[2015-07-31 08:03] qiangdavidliu commented on #597
@cforce just re-read your initial post, are you raising this issue for eureka 1.x or eureka 2.x? Using the vip field for versioning is not a misuse, a vipAddress can be a composite of multiple variables that define the application, one of which can be the version itself.

[2015-07-31 08:05] qiangdavidliu commented on #598
@cforce it's up to you:). We'd love a discussion/design beforehand but feel free to make a pull request and we can discuss over that also.

[2015-07-31 08:09] qiangdavidliu commented on #376
Latest release (1.2.0) has bumped jersey version to 1.19. Apologies for how long this took!

[2015-07-31 08:09] #376 closed

[2015-07-31 08:09] qiangdavidliu commented on #600
@cforce eureka-client depends on jersey 1.x only and we have not tested (or guarantee) compatibility with jersey 2.x. We also do not have any plans on upgrading to jersey 2.x in the short term.

[2015-07-31 08:09] #600 closed

[2015-07-31 13:25] brharrington commented on #598
How is this different than vip? You can already specify a list to `eureka.vipAddress` and then do the lookup for a given vip.

[2015-07-31 15:09] cforce commented on #597
Eureka v1 is the one released, isn't it?

But how can i search for "in between " or above "v2.0"?

[2015-08-03 19:34] tbak opened #602 "InstanceInfo data loaded during server bootstrap should be evicted after some time"
Eureka write server can load initial registry content from an external source, prior to setting yourself into UP status. This data must have a well defined lifecycle, and ideally its corresponding instance info holders should be removed, as soon as regular registration updates are received. Stale data must be dropped after configurable amount of time.

[2015-08-19 17:09] tbak opened #620 "1.x Adjust severity levels of log entries in DiscoveryClient"
`DiscoveryClient` generates a lot of noise at warn level.

[2015-08-26 21:46] thepoofy opened #624 "Updating Instance status for an Instance that doesn't exist returns 406"
This is an incorrect usage of http response codes.  `406` should indicate the wrong accept header was used.  This should respond with a `404` should be thrown indicating the resource is not found.

[2015-08-28 13:38] Swierkowski opened #625 "Change status when the lease has expired."
When my service has crashed or killed -9 I would like to see that it is in DOWN status.

Currently when the lease has expired, the service can be evicted from the service registry. It happens when you configure enableSelfPreservation=false.

I would like to not evict the service from the registry, but instead change the status to DOWN.

This feature could be configured by new config parameter like

[2015-09-01 00:23] tbak commented on #625
Eureka has pretty complex configuration already, and we prefer not adding more properties to it. What you are requesting here, could be implemented in a more generic way as:
* disabling heartbeats (not supported)
* overriding current status (supported)

Heartbeats/lease are essential concept in Eureka. Self preservation was provided to protect from loosing registry content during network failures

[2015-09-01 00:28] tbak commented on #624
According to RFC2616:
"
 406 Not Acceptable
The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.
"
This description fits the usage pattern.

[2015-09-01 06:19] thepoofy commented on #624
The "resource identified" criteria hasn't been met.  In the event there is no resource identifiable by the correct response code is 404.  Going back to the RFC:

[code]

So when an Instance has been removed from Eureka due to a timeout the URI doesn't match any values known to Eureka and should be spitting out a 404.

I was extra irked by this because using a `Accept: */*` still returned a 406.

[2015-09-01 11:47] Swierkowski commented on #625
In my case, my service has already crashed. Therefore, the service is not able to change the status using REST API.

My service is written in Java. I have already registered a JVM shutdown hook which changes the status of my service to DOWN. The problem is that when the service was not stopped gracefully the shutdown hook is not executed. It is e.g. kill -9 or OutOfMemoryError.

In my case the onl

[2015-09-01 16:00] tbak commented on #624
You are right, status code 404 should be returned, and after checking the code it is implemented like that. In the latest release we added a filter that enforces GZIP replies for all GET requests. If you run GET with something like "Accept-Encoding: identity" you will get 406 in reply. If this is the case, your options would be:
* remove the filter from the reference web.xml (gzipEncodingEnforcing

[2015-09-01 18:36] thepoofy commented on #624
Putting aside the gzip which is not relevant here; we're using version 1.1.141 and that is not the behavior we see.

[2015-09-01 20:00] tbak opened #628 "1.x Registration failover when server overloaded"
Currently if servers returns 503, the request will be retried on the very same instance some time later. It is behavior we would like to have for registry fetches, but registrations/heartbeats are more critical, and at the same much lighter to handle, so retrying on another server might be a better choice.

[2015-09-01 20:01] tbak commented on #624
Can you upgrade to latest version? 1.1.141 is quite old, and we have done quite a few updates.

[2015-09-14 22:36] brenuart opened #638 "EurekaMonitors fails to unregister servo monitors from JmxMonitorRegistry"
`EurekaMonitors.shutdown()` fails to properly unregister servo monitors from `JmxMonitorRegistry`. The following exception is thrown:
[code]

The `EurekaMonitors` class holds an enum for every monitor used by the Eureka sub-system. Problem is:
- registration is done with `enum.getName()` as name
- unregister is done with `enum.name()` as name (_not the same_)

[2015-09-14 22:39] qiangdavidliu commented on #638
@brenuart thanks for the issue. Will fix.

[2015-09-14 22:40] brenuart commented on #638
want a PR?

[2015-09-14 22:41] qiangdavidliu commented on #638
I am doing some clean up work on the server side right now, so can just add the fix as part of that. Feel free to provide a PR as well.

[2015-09-14 23:13] qiangdavidliu commented on #638
Resolved per #639

[2015-09-14 23:13] #638 closed

[2015-09-16 22:35] aivans opened #641 "Eureka 2.0 information propagation delay question"
Hi,

Will  the Eureka 2.0 push model improve the delay for broadcasting topology changes?
Right  now the Clients pull regularly hence the updates can take some time to the Client. I was wondering whether with the push model we will get closer to realtime.

Thanks

[2015-09-16 22:56] tbak commented on #641
Yes, with the push model we are getting delays as low as ~5ms, depending of
course on the system load and network bandwidth.

On Wed, Sep 16, 2015 at 3:35 PM, Adrian Ivan <notifications@github.com>
wrote:

[2015-09-17 06:25] aivans commented on #641
Sounds great.

I know there is an RC available, is there a timeline for a Production ready release?

Thanks

[2015-09-17 17:34] qiangdavidliu commented on #641
Hi @aivans there are some known bugs with rc.2 that we are fixing for a rc.3 release. As for 1.0, we don't have any timelines for this at the moment.

[2015-09-17 17:34] #641 closed

[2015-09-17 20:45] aivans commented on #641
Thank you.

Looking forward!

[2015-09-18 03:05] spencergibb opened #645 "Allow custom DataCenterInfo implementations"
Currently there is no way to have a custom implementation that implements `UniqueIdentifier`.

/cc @jkschneider

[2015-09-18 14:56] tbak commented on #645
I understand that you have already custom serializer for your DataCenterInfo implementation. Can you tell us more about what is preventing you from implementing this interface?

[2015-09-18 15:10] tbak commented on #625
This behavior would require bigger changes in the code, and is not directly in line with Eureka architectural principles.

What you want to achieve here is better handled by the health check poller mechanism. This is an external monitoring service that periodically calls each server of your fleet at a well know endpoint (Eureka provides healtcheck URL field for that in InstanceInfo), and if there

[2015-09-18 16:02] NiteshKant commented on #625
Leaving aside Eureka internals, how would you use this DOWN status differently than the instance not being available in Eureka registry?

[2015-09-18 17:46] Swierkowski commented on #625
I have already implemented my own poller mechanism which is setting the status to down when there are no heartbeats. As I start Eureka server using spring boot, I have direct access to eureka registry.

[2015-09-18 17:46] #625 closed

[2015-09-18 20:37] NiteshKant commented on #625
So, all servers that do not send an explicit remove, will stay in eureka registry forever?

[2015-09-19 20:56] jkschneider commented on #645
@tbak @spencergibb this pull request solves the issue we have in Spring Cloud: https://github.com/Netflix/eureka/pull/646

[2015-09-21 07:21] diasjorge opened #647 "Eureka gives 500 when app registered without Datacenter info"
Hi,

I was testing Eureka and found that if I do a push to register and app to:

SERVER/v2/apps/APP_NAME and in the json data I only have something like:

[code]

The status page then gives a 500.

I think the submitted data should be validated against the DTD shown in the wiki or at least the page should not fail.

[2015-09-21 15:20] tbak commented on #647
We do not do any schema based validation (it is JSON), but the request should not fail with 500 in such case. As each instance record must have associated data center info, an HTTP response with status code 400 would be more meaningful here.
Thank you for reporting this.

[2015-09-21 15:49] tbak commented on #624
As we have not received any more information about this issue, I am closing it.

[2015-09-21 15:49] #624 closed

[2015-09-22 17:50] hakanson opened #648 "unresolvable documentation link inside XSD on "Eureka REST operations" page"
When reading the XSD provided on https://github.com/Netflix/eureka/wiki/Eureka-REST-operations there is a comment with "instructions" that refers to what looks like an internal Netflix wiki (http://wiki.netflix.com/clearspace/docs/DOC-20965).

                <xsd:element name="hostName" type="xsd:string" />

                <xsd:element name="app" type="xsd:string" />

Can either the XSD example

[2015-09-23 19:54] qiangdavidliu commented on #645
Closing w.r.t. #649

[2015-09-23 19:54] #645 closed

[2015-09-23 19:59] qiangdavidliu commented on #648
Thanks @hakanson. The internal document no longer exist and was likely for linkage with other internal tooling and not relevant for this xsd. Updated the wiki.

[2015-09-23 19:59] #648 closed

[2015-09-23 23:35] tbak commented on #425
As there was no follow up on this issue for long time, I am closing it.

[2015-09-23 23:35] #425 closed

[2015-09-23 23:57] tbak commented on #81
This was greatly optimized in release 1.1.158

[2015-09-23 23:57] #81 closed

[2015-09-24 00:01] tbak commented on #69
It is supported via EventBus service, where discovery events are emitted (StatusChangeEvent and CacheRefreshedEvent).

[2015-09-24 00:01] #69 closed

[2015-09-24 03:46] KishorGrandhe commented on #554
are there any plans and timelines to fix the issue, thanks

[2015-09-24 04:47] qiangdavidliu commented on #554
@KishorGrandhe this is on our list of items to fix. If you are interested, a pull request would be very welcome as well. Thanks.

[2015-09-24 15:14] tbak commented on #647
Fixed in PR https://github.com/Netflix/eureka/pull/651

[2015-09-24 15:14] #647 closed

[2015-09-28 14:08] Crystark opened #655 "2.x InstanceInfo metaData modifications ignored when metaData previously set."
Hi,

I'm trying to keep some custom states in the  `InstanceInfo` metaData but it seems that changes are ignored in some particular cases.

[code]

This sends a first event that appears in the `eureka2-write-server`'s log as well as in my app's logs but all next events aren't shown by the  `eureka2-write-server` although i can see those in my logs.

So i tried moving stuff about cause i had it wor

[2015-09-29 08:00] qiangdavidliu commented on #655
@Crystark you are right, thanks for raising the issue. The problem appears to be in the withInstanceInfo() method inside the builder, where instead of copying the metadata map, it assigns to the older instance's metadata map.

[2015-09-29 08:16] qiangdavidliu commented on #655
Fixed in #658

[2015-09-29 08:16] #655 closed

[2015-09-30 15:58] foo4u commented on #600
@qiangdavidliu can we shade the dependency on Jersey 1.x? Causing issues since most other frameworks have moved on to JAX-RS 2.0.

[2015-09-30 16:40] tbak commented on #600
We implement a new transport that will allow one to plug-in different HTTP client implementations. It is still on branch, but we will merge this to master probably next week. Once it is done, you can exclude jersey 1.x, and provide equivalent jersey 2.x implementation
Check: https://github.com/Netflix/eureka/tree/refactorings/transport/eureka-client/src/main/java/com/netflix/discovery/shared/trans

[2015-09-30 17:27] efenderbosch commented on #600
Would that make it possible to use something other than Jersey? It is just required to be a JAX-RS implementation?

[2015-09-30 17:31] tbak commented on #600
For eureka-client, yes this could be anything that implements EurekaHttpClient API. But on the server side we depend heavily on JAX-RS.

[2015-10-01 00:26] qiangdavidliu opened #663 "1.x Better handling order of batched replication requests"
This relates #657 but is also present in older behaviour.

Currently for server replication to a given remote peer, multiple threads are used. This can cause race conditions where the remote peer can see messages out of order (e.g. heartbeat -> cancel was received as cancel -> heartbeat).

The effect of this is to trigger temporal inconsistencies that will eventually converge due to evictions, so

[2015-10-02 13:31] Novotarskyi commented on #554
@qiangdavidliu I could try and make a pull request for this one

[2015-10-02 22:50] tbak opened #672 "1.x remote registry content not initialized properly during first full registry fetch"
Certain data structures (like DiscoveryClient.remoteRegionVsApps) are handled only by delta update logic.

[2015-10-07 21:26] qiangdavidliu opened #676 "Provide a more robust way to get local host info"
Ref #617 (unfortunately the pull is not re-openable). There is a similar fix in the transport refactoring branch work but it need to be also ported to the older code base.

[2015-10-09 14:38] Crystark opened #679 "2.x AwsDataCenterInfo::getName is misleading"
Hi,

I'm currently testing eureka2. I have 2 apps registering and sending "alive" events to eureka2. One of the app is supposed to listen for the other and react to the other being down. The thing is, i was hoping to filter the change notifications based on the datacenter as the app must not care about other apps from other datacenters not being alive. Using `DataCenterInfo` I thought `getName` wo

[2015-10-09 15:19] tbak commented on #679
Thank you for your comment. The DataCenterInfo API is really misleading. Probably we would need to have both getName and getInstanceId methods, with the former returning the data center name. This is actually the behavior in Eureka1.

[2015-10-23 18:35] octonary opened #690 "Setting OUT_OF_SERVICE for one app causes all apps on same host to register as such"
If I send an OUT_OF_SERVICE request to a particular app on a given host that runs multiple apps, all Eureka enabled apps on that same host start registering an OUT_OF_SERVICE state.

For example... in my test environment I have a Eureka-server instance and 3 Eureka enabled apps running across 3 nodes. If I issue an OUT_OF_SERVICE to appA running on node1(curl -X PUT http://node1:9090/eureka/v2/app

[2015-10-23 18:42] qiangdavidliu commented on #690
@octonary thanks for raising the issue. The current implementation of OUT_OF_SERVICE does not work well with multi-tenant environments and uses the id as the key for OOS (which defaults to the hostname/aws instanceId). We will take a look at fixing this in a future release.

[2015-10-23 19:14] spencergibb commented on #690
@octonary you can set `eureka.instanceId` for each instance to handle that case. It's what we do in [spring-cloud-netflix](https://github.com/spring-cloud/spring-cloud-netflix).

[2015-10-23 20:05] octonary commented on #690
Thanks! I will start setting the instanceId.

[2015-10-23 20:41] octonary commented on #690
FYI, I couldn't get eureka.instanceId to work but eureka.instance.metadataMap.instanceId seems to do the trick. Thanks again.

[2015-10-29 14:35] herau opened #694 "Wiki - Configuring-Eureka - wrong link to default configuration"
In the configuration part of the wiki page, the link to the example of default configuration isn't correct (404) : `You can take a look at the examples here for default configurations`

maybe the link should point to [https://github.com/Netflix/eureka/blob/master/eureka-server/src/main/resources/]() or [https://github.com/Netflix/eureka/tree/master/eureka-examples/conf]()

[2015-10-29 15:33] tbak commented on #694
Thank you for spotting this. I have just fixed that.

[2015-10-29 15:33] #694 closed

[2015-11-04 16:57] liry opened #697 "Add documentation of config properties"
It's really pita when you run example, add some metadata and when you getMetadata() in the client it returns empty map even if you see those metada when you query API directly. Then you search through documentation and other sources and there's no information anywhere, so one has to debug it to find out that there's some magic undocumented ```eureka.decoderName``` config property and when one has

[2015-11-04 18:18] tbak commented on #697
The example was setup with JacksonJsonMini codec, which omits all metadata
in InstanceInfo object. I have changed it to the standard codec.
Thank you for spotting this.
/Tomasz

On Wed, Nov 4, 2015 at 8:57 AM, Libor Rysavy <notifications@github.com>
wrote:

[2015-11-05 20:49] #697 closed

[2015-11-05 20:51] tbak opened #699 "1.x some entities are gzip-ed on the fly, instead of using ResponseCache"
Only full fetch and delta fetch responses, when requested in compressed format are extracted as such from ResponseCache.
Other entities are taken in an uncompressed format, and the compression is done by Jersey gzip filter.

[2015-11-05 22:42] jylin opened #700 "Program does not shutdown after using EurekaClient"
I have a program that uses EurekaClient to find services, but it seems that if it runs for longer than say 30 seconds, then exiting the main thread (either gracefully or because of an exception) leaves the Java program hanging. I suspect Eureka might be spawning some user threads. Could they be changed to be daemon threads instead?

[2015-11-06 01:14] tbak commented on #700
Thank you for spotting this. I have fixed this issue in this PR: https://github.com/Netflix/eureka/pull/701.
You should always call `EurekaClient.shutdown()`, which terminates all the allocated resources, including the thread pools.

[2015-11-06 01:14] #700 closed

[2015-11-06 19:53] spencergibb opened #702 "DiscoveryJerseyProvider: Error creating a serializer. ClassNotFoundException: jackson"
[code]

It fails with this class
[code]

I'm using eureka 1.3.4

[2015-11-06 19:54] spencergibb commented on #702
[code]

[2015-11-06 20:35] tbak commented on #702
Looking into the source code, this code path is executed only when the
injected decoder is not capable of handling the media type. It happens in
the replication path which should always use JSON encoding. There is a bug
in the annotation value in ReplicationList/ReplicationResponse, which
contains "jackson", not the class name.

Can you check what encoding format is used on the wire?

/Tomasz

On

[2015-11-06 21:00] spencergibb commented on #702
in `JerseyReplicationClient.submitBatchUpdates(JerseyReplicationClient.java:120` it sets
[code]

[2015-11-06 21:06] tbak commented on #702
Which is strange the injected decoder does not handle this. We have this
code version running in the cloud with no such issue.
Can you check with the debugger why the ISerializer is being used
in DiscoveryJerseyProvider?

decoder.support(mediaType) returns false, so either Content-Type is not
defined in response, or it is not application/json.

On Fri, Nov 6, 2015 at 1:00 PM, Spencer Gibb <notific

[2015-11-06 21:34] spencergibb commented on #702
The problem happens when the mediaType is `application/json; charset=UTF-8`. Then it drops to the `ISerializer`.

[2015-11-06 21:48] tbak commented on #702
I will fix this, and make a new release, but probably not earlier than on
Monday.

On Fri, Nov 6, 2015 at 1:34 PM, Spencer Gibb <notifications@github.com>
wrote:

[2015-11-06 21:55] spencergibb commented on #702
I think I found in our code where the charset get's forcefully appended.

[2015-11-09 19:33] tbak opened #703 "1.x DiscoveryClient.reconcileAndLogDifference should handle remote data properly when logging"
Right now all remote data entities are logged as missing, as they are in the fetched Applications object, but missing in the one compared with.

[2015-11-10 19:20] spencergibb opened #704 "DiscoveryClient fails to unregister servo monitors from JmxMonitorRegistry"
Similar to #638 which was for EurekaServer. Using eureka 1.3.4.

[code]

[2015-11-11 19:00] alexandre-gauge opened #705 "FAILURE: Build failed with an exception"
[code]

[2015-11-11 19:15] qiangdavidliu commented on #705
@alexandre-gauge that is a java8 method. Can you try to update to java8 and try again? Thanks.

[2015-11-11 19:15] #705 closed

[2015-11-11 20:09] brharrington commented on #705
@qiangdavidliu it might be a good idea to set the compatibility level explicitly on the build:

[code]

That should make the error message a bit easier to follow than cannot find symbol. For example on one of mine when trying to build on java 7 it gives:

[code]

[2015-11-11 20:11] qiangdavidliu commented on #705
Thanks @brharrington. That's a good suggestion.

[2015-11-11 22:21] qiangdavidliu commented on #705
Updated as @brharrington suggested

[2015-11-12 14:05] alexandre-gauge opened #707 "PeerEurekaNode: a lot of log messages"
If i shutdown peers, the up peer produces a lot of log messages like the following one:

[code]

[2015-11-12 14:07] alexandre-gauge commented on #705
Thanks @qiangdavidliu and @brharrington

[2015-11-12 16:11] tbak commented on #707
When you shutdown a peer, other peers will continue sending replication data to this address, and for the time it is missing you will see transport related exceptions in the log file. We limit amount of errors logged in the replication channel, but we want to keep it at some level for diagnostic purposes.

[2015-11-15 21:22] dearjadu opened #709 "Incorrect URLs of Eureka Client and Server JavaDoc on Eureka Wiki"
The URLs to Eureka Client and Server JavaDoc lead to a 404 page on GitHub. These links have been broken for few weeks now. Can the owners please fix them?

http://netflix.github.com/eureka/javadoc/eureka-client/index.html
http://netflix.github.com/eureka/javadoc/eureka-client/index.html

These URLs are on the right-side navigation panel on the Eureka Wiki (https://github.com/Netflix/eureka/wiki)

[2015-11-17 00:23] dearjadu commented on #709
Thanks. Could you point me to the valid location of the JavaDoc?

[2015-11-17 00:31] tbak commented on #709
Javadoc documentation is uploaded to maven central. You IDE should be able
to download it for you.

On Mon, Nov 16, 2015 at 4:24 PM, Kartik <notifications@github.com> wrote:

[2015-11-17 00:31] dearjadu commented on #709
Got it. Merci

[2015-11-18 15:27] vlna opened #711 "License violation suspicion - CDDL/GPLv2+CE reused code"
File `eureka-core/src/main/java/com/netflix/eureka/cluster/DynamicGZIPContentEncodingFilter.java` contains substantial part of http://grepcode.com/file/repo1.maven.org/maven2/com.sun.jersey/jersey-bundle/1.17.1/com/sun/jersey/api/client/filter/GZIPContentEncodingFilter.java

Original file is CDDL/GPLv2+CE dual-licensed and CDDL/GPLv2+CE is not possible to relicense to Apache 2.0.

I was not able t

[2015-11-18 16:16] tbak commented on #711
Thank you for spotting this. I will provide fresh implementation for this class, without basing it on the existing jersey code.

[2015-11-19 20:00] tbak commented on #711
Fixed in #713

[2015-11-19 20:00] #711 closed

[2015-11-26 00:15] ilayze commented on #690
@octonary I tried what you suggested but now I can't make the service OUT_OF_SERVICE... how did you invoke the put request? (curl -X PUT http://node1:9090/eureka/v2/apps/appA/metadataInstanceId/status?value=OUT_OF_SERVICE)?

[2015-12-01 14:17] cforce commented on #600
How its solved now? Do i still need to pimp like this?
 <plugins>
            <plugin>
                <groupId>com.spotify</groupId>
                <artifactId>docker-maven-plugin</artifactId>
            </plugin>
            <plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>

                <configuration>

[2015-12-01 16:14] tbak commented on #600
We are working towards enabling multiple transports in Eureka client. There
is already jersey2 implementation, however DiscoveryClient is still tightly
coupled with jersey1.x. We plan to re-write this code next month, after
holiday season.

On Tue, Dec 1, 2015 at 6:17 AM, Fabi <notifications@github.com> wrote:

[2015-12-03 16:33] tbak commented on #707
Closing this issue for now. Please, reopen it if you want to further discuss this topic.

[2015-12-03 16:33] #707 closed

[2015-12-04 15:15] sfussenegger opened #715 "Use AWS metadata IP in CloudInstanceConfig"
I'm trying to get Eureka running in AWS EC2 Container Service (ECS).

Unfortunately, `CloudInstanceConfig` relies on `InetAddress.getLocalHost().getHostAddress()` to get the IP address. In case of Docker, this is the IP inside the Docker network (typically something like `172.17.0.2`) which isn't very helpful.

Using `MetaDataKey.localIpv4` should fix this problem without changing current behavior

[2015-12-04 17:12] tbak commented on #715
CloudInstanceConfig depends on Amazon metadata. If access to metadata
fails, and flag 'eureka.validateInstanceId' is set to false, as a fallback
a local host address is read. Possibly this is happening in your case.
You can always override the default CloudInstanceConfig implementation, and
provide your custom version that better handles docker environment.
/Tomasz

On Fri, Dec 4, 2015 at 7:16 AM,

[2015-12-04 17:22] qiangdavidliu commented on #715
There is actually some work in progress that will address this exact issue
(for a different use case). The changes should make it into the next
release.
On Dec 4, 2015 9:13 AM, "tbak" <notifications@github.com> wrote:

[2015-12-09 14:43] abaculus opened #717 "Status REST operation completely disables instance HealthCheckHandler?"
Hi

I've noticed that when I call the REST API for status (e.g. PUT /eureka/v2/apps/appID/instanceID/status?value=UP) it makes Eureka to ignore the status updates from the instance HealthCheckHandler. Seems like the 'overriddenstatus' cannot be undone.

The only way to get Eureka to respect the HealthCheckHandler status updates from the instance HealthCheckHandler is to de-register and register ag

[2015-12-09 15:49] brharrington commented on #717
You should be able to to a delete request to clear the override:

[code]

[2015-12-09 16:42] abaculus commented on #717
The only allowed methods for endpoint is OPTIONS and PUT.

[2015-12-09 17:04] brharrington commented on #717
It looks like that was added in 1.1.148: https://github.com/Netflix/eureka/releases/tag/1.1.148

[2015-12-09 17:17] abaculus commented on #717
Aah, that explain things...

Thank you for your very helpful support!

Kudos

[2015-12-09 17:17] #717 closed

[2015-12-10 15:42] andreaposadino opened #718 "Why InstanceInfo.InstanceStatus can not be a interface?"
Hi,

I'm working in a microservice in java using your code.
I wanted to add a custom InstanceStatus for monitoring through Eureka when my ms is working on a specific job. Something like a "RUNNING JOB A" status.
But InstanceStatus is a enum class, so I can't extend it.

I want to set my instanceStatus with this method:
ApplicationInfoManager.getInstance().setInstanceStatus(InstanceInfo.InstanceSta

[2015-12-10 16:20] tbak commented on #718
InstanceStatus's purpose is to report an overall service state. You can still propagate this information using metadata field.

[2015-12-10 17:14] andreaposadino commented on #718
Thank for your answer,

I just tried with ApplicationInfoManager.getInstance().registerAppMetadata(Map<String,String> appMetadata) method and worked.

Thank you again.

[2015-12-10 17:16] tbak commented on #718
glad to help

[2015-12-10 17:16] #718 closed

[2015-12-14 12:22] omkar9999 opened #719 "Unable to run eureka server on Weblogic 12c"
i'm unable to run eureka server on Weblogic 12c.
war file is deployed successfully on Weblogic 12c but I'm receiving following error in server logs:

[2015-12-10T13:36:46.135+05:30] [AdminServer] [ERROR] [] [com.netflix.eureka.PeerAwareInstanceRegistry] [tid: Eureka-EvictionTimer] [userId: <anonymous>] [ecid: 4c164384-726a-4c35-a306-2cb86fb2103a-00000003,0:8] [APP: eureka-server-1.1.37] The lease

[2015-12-14 16:55] tbak commented on #719
You Eureka client/server configuration assumes that you run server on port
80, and that the context path is 'eureka' (http://localhost/eureka/v2/apps).
You are using probably default configuration hence localhost address is
used, not routable address of the host. Please consult
https://github.com/Netflix/eureka/tree/master/eureka-examples/conf for
example configuration. You need to change 'eureka.

[2015-12-24 00:01] pradeepkusingh opened #722 "Question : Eureka never unregisters a service"
I am running few test with Eureka and seeing the issue though I shut down the micoservices , it still shows services are up and running, ribbon got the server list and call failed with 404. I went through the eureka docs 85% rule, still this one is tricky. If I disabled the self preservation mode it works, but I don't want to do that as per recommendations in prod. so what is the best configuratio

[2015-12-30 11:33] yairogen opened #725 "can't run 2 instances using the same discovery manager"
I am using eureka -client 1.1.147

I am both a server (using spring-cloud) and ribbon client (using rxnetty based client).

for the client to work I had to write this code:

 if (DiscoveryManager.getInstance().getDiscoveryClient() == null) {
            EurekaInstanceConfig eurekaInstanceConfig = new MyDataCenterInstanceConfig(getApiName());
            EurekaClientConfig eurekaClientConfig = new

[2016-01-04 16:18] tbak commented on #722
If you shutdown single server, and it makes eureka enter self preservation mode, it means you have very few servers in the registry, and there is nothing else to do about it as to disable it. As you say it is in test, this should be probably ok with you. In prod, with more registry entries, self preservation should kick in only when there is  a serious issue causing massive registration expiries,

[2016-01-04 16:27] tbak commented on #725
You are using very old version with eureka. In later releases we improved DI support, so this should be no more an issue.

I do not understand this question. The reason to register with discovery is to be able to load server list for load balancing purposes. If you do not want to use Eureka registry, you can always use another ServerList implementation (for example ConfigurationBasedServerList).

[2016-01-04 19:27] yairogen commented on #725
@tbak Thanks for your reply.
The old version we use is coming from spring-cloud-netflix lib. I have no idea why but even thier latest version still uses eureka 1.1.147: https://repo1.maven.org/maven2/org/springframework/cloud/spring-cloud-netflix/1.0.4.RELEASE/spring-cloud-netflix-1.0.4.RELEASE.pom.
Any idea why?

Regatding the second part: I thought the A eureka client can be used for 2 puposes:

[2016-01-04 20:15] spencergibb commented on #725
In our Brixton milestones we use later versions of eureka. It was a major refactoring to use it.

[2016-01-04 20:26] yairogen commented on #725
so - you recommend we try out this?

http://repo.spring.io/libs-milestone-local/org/springframework/cloud/spring-cloud-netflix/1.1.0.M4/

[2016-01-06 16:24] tbak commented on #725
@yairogen Regarding your question:

It is possible to configure eureka to only register (no registry fetch), or only do registry fetch (no registration). This is controlled via two properties:
* eureka.registration.enabled
* eureka.shouldFetchRegistry

[2016-01-12 09:20] FabianHoltkoetter opened #732 "DiscoveryClient throws Exception if no service is found"
The DiscoveryClient throws an Exception when no service for the given ID is found. In my opinion thats not exceptional but infact totally possible. The method getNextServerFromEureka should return an java.util.Optional.

[2016-01-12 16:15] tbak commented on #732
Can you point which methods have this behavior? Query by id is supported by this method:
[code]
And it should return empty list if no instance with the given id is found.

[2016-01-13 06:54] FabianHoltkoetter commented on #732
[code]
This is the method I'm talking about. `getInstancesById` is of course a good replacement.

[2016-01-13 17:25] jhmartin commented on #715
Any sort of ETA on the release? I am interested in running clients in ECS as well.

[2016-01-13 18:05] qiangdavidliu commented on #715
Sorry for not updating. This is actually already fixed and released in release 1.3.7. Will update the release notes also.

[2016-01-13 18:05] #715 closed

[2016-01-13 18:48] qiangdavidliu commented on #732
@FabianHoltkoetter what you propose makes sense. I have a suspicion that had Optional been available prior to java8, this API would likely have been done that way. Unfortunately the getNextServerFromEureka() method is now a public API and for compatibility, it would be a breaking change to change it from returning an InstanceInfo to return an Optional<InstanceInfo>.

[2016-01-14 18:04] tbak commented on #725
I am closing this issue. Please, reopen it if you wish to continue this discussion.

[2016-01-14 18:04] #725 closed

[2016-01-14 18:05] tbak commented on #722
I am closing this issue. Please, reopen it if you wish to continue this discussion.

[2016-01-14 18:05] #722 closed

[2016-01-14 18:05] tbak commented on #719
I am closing this issue. Please, reopen it if you wish to continue this discussion.

[2016-01-14 18:05] #719 closed

[2016-01-14 18:09] tbak commented on #512
SerializedTaskInvoker is no longer used

[2016-01-14 18:09] #512 closed

[2016-01-19 15:24] sfussenegger opened #735 "Document version compatibility"
I believe this one should be document as I wasn't able to find anything in the wiki.

There are three main questions that come to mind:

1) what do different version increments represent?
2) is it supported to run clients with earlier versions than the server? patch level or minor too?
3) is it supported to run servers with different versions (e.g. while upgrading a cluster)? patch level or minor?

[2016-01-19 18:39] qiangdavidliu commented on #732
@FabianHoltkoetter Thanks for raising this issue. Although it is valid, I'm going to close this for now as there are work around methods (e.g. get the full list of the vip and do a simple round robin on the list), and updating the method in question would leave to requiring an incompatible version bump.

[2016-01-19 18:39] #732 closed

[2016-01-19 18:45] qiangdavidliu commented on #735
@sfussenegger thanks, we will update the wiki. To address your 3 specific questions:

1) client/server protocol compatibility should be ensured for minor version updates. Minor version bumps may indicate client side java API changes or dependency changes but should not impact client/server protocol.
2) server should be compatible with earlier clients at minor version differences.
3) servers are de

[2016-01-20 08:28] sfussenegger commented on #735
@qiangdavidliu thanks for pointing this out. Just to clarify things a little further: we are talking `[major].[minor].[patch]` (as in [semver](http://semver.org/)), right? So client-server protocol has been backward-compatible for the whole `1.x` releases? Therefore `1.1.147` clients (currently the latest used by spring-cloud-netflix) should be compatible with the currently latest server (that is

[2016-01-20 22:34] qiangdavidliu commented on #735
@sfussenegger yes, we use semantic versioning for eureka. Id like to say we've been trying out best to keep complete protocol compatibility for the 1.x series of releases, though to be honest I haven't really validated some of the truly early versions (say from 3+ years ago). I can however confirm that 1.1.147 is compatible with server version 1.3.7 (we have instances of 1.1.147 running with our c

[2016-01-20 22:46] spencergibb commented on #735
In Brixton snapshots spring-cloud-netflix has upgraded to 1.3.7.

[2016-01-21 02:02] qiangdavidliu commented on #735
Thanks for the update @spencergibb .
@sfussenegger I'm going to close this issue for now. Please feel free to re-open if you have further questions.

[2016-01-21 19:28] singerdmx commented on #600
Any updates on Jersey2 version? Thanks!

[2016-01-21 21:32] #690 closed

[2016-01-21 21:36] qiangdavidliu commented on #600
@singerdmx we are doing some work that will help with this this quarter, but we can't commit to any timelines right now unfortunately. I will update once we have anything more concrete.

[2016-01-23 13:03] mrumpf opened #737 "Add a feature to tell the client which IP address to register in case of multiple IPs"
My office notebook uses a VPN/PPP connection into the corporate LAN for any kind of internet access.
My home LAN is using the network 192.168.0.1/255.255.255.0. The VPN client cuts any route into the 192.168... network and allows only connections into the PPP network (10.177.196.145/255.255.255.255), created by the VPN client.
The Eureka client, when I set the eureka.instance.preferIpAddress to tr

[2016-01-23 13:16] mrumpf commented on #737
I just saw that there is an algorithm to prefer IPs from NICs whose name ends with a "0".
https://github.com/Netflix/eureka/blob/de24b9349fe579dba687f069f2bf495c8fe97c3f/eureka-client/src/main/java/com/netflix/discovery/util/SystemUtil.java

That does not work under Windows, but could be adapted to set the preferred NIC name instead of the network, as suggested above:
[code]
So the code tries to s

[2016-01-25 23:09] qiangdavidliu commented on #737
Thanks @mrumpf . We'll take a look at this.

[2016-01-25 23:18] mrumpf commented on #737
The Spring Cloud Team claims to have this already fixed: https://github.com/spring-cloud/spring-cloud-netflix/issues/788

[2016-01-27 17:11] tbak commented on #702
Lets keep it open, as this problem may occur again and the root cause is not obviously visible.
A simple fix would be to prevent any parameters in Content-Type header, and return a meaningful error reply.

[2016-01-28 07:33] cforce commented on #737
There is such function, see http://projects.spring.io/spring-cloud/spring-cloud.html#ignore-network-interfaces

[2016-02-03 06:03] Dreampie opened #738 "How can i use Feign connect eureka?"
How can i use Feign connect eureka and load balance？

[2016-02-03 16:53] tbak commented on #738
Please, check this with feign project maintainers (https://github.com/Netflix/feign).

[2016-02-03 16:53] #738 closed

[2016-02-03 22:37] tbak commented on #704
@spencergibb I have tried to reproduce this error with no success. I have seen servo ignores these kinds of errors internally (https://github.com/Netflix/servo/commit/0636b23a60889341a5c1d0dc8a1adc5b0c830180). Can you confirm?

[2016-02-03 22:40] Yannic92 commented on #704
@tbak I can confirm this issue. I will try to provide a short example in the next days.

[2016-02-03 22:40] spencergibb commented on #704
@tbak We're still on servo 0.10.0

[2016-02-03 23:17] cforce commented on #704
Same issue here with Brixton. M4

[2016-02-04 07:24] pcornelissen commented on #737
You need a recent brixton version for it BTW.

Then you can ignore all unwanded interfaces by:

[code]

[2016-02-04 21:49] maliksalman opened #740 "Disable EIP binding calls based on config"
For our needs, we would like to run a eureka cluster in an AWS VPC. We would rely on DNS TXT records for the eureka servers and clients to discover each other. Furthermore, we would be running the eureka servers and all their client instances in VPC private subnets. Assigning EIPs to the eureka servers in this scenario makes no sense.

Currently, there is no way of letting `com.netflix.eureka.Eure

[2016-02-04 22:00] qiangdavidliu commented on #740
Hi @maliksalman thanks for the issue. For different deployment environments, we are aiming for a more custom strategy based on the AwsBinder (https://github.com/Netflix/eureka/blob/master/eureka-core/src/main/java/com/netflix/eureka/aws/AwsBinder.java) interface and better DI support for the server (there are some work-in-progress code in the eureka-server-karyon3 package). The idea would be to be

[2016-02-04 22:09] maliksalman commented on #740
That must be new. I was working with spring-cloud-netflix-core 1.0.1 which includes eureka-client 1.1.147. I will look into this.

@qiangdavidliu, thanks for the pointer.

[2016-02-04 23:46] spencergibb commented on #740
The next version of spring-cloud-netfix uses the latest version of eureka.

[2016-02-16 12:59] drax68 opened #748 "Could not determine if the replica is available exception"
Hi, I've noticed no active replicas on status page for eureka cluster consisting of 2 eureka servers. We use route53-based txt dns setup, both servers in different az.
All running replicas in *unavailable-replicas* list, though logs contains replication activity.
- What effect does it have for eureka cluster?
- Can it cause situations when cluster losts overriden registry data when new servers add

[2016-02-17 01:37] qiangdavidliu commented on #748
Hi @drax68 eureka 1.1.51 is over 3 years old, and significant changes have gone into eureka since. I'm not sure if it will be easy to figure out what issue you might be running into given the age of the version. Are you able to upgrade to a more recent release?

[2016-02-17 10:40] drax68 commented on #748
@qiangdavidliu Correction, we currently use 1.1.151 version

[2016-02-17 19:55] drax68 commented on #748
Please advise, which version (1.2, 1.3) should we use to fix mentioned issue.

[2016-02-18 01:56] qiangdavidliu commented on #748
Minor versions of servers should still be compatible. We are running with 1.3.8 servers as of this moment.

[2016-02-18 06:21] pparth commented on #748
So, @qiangdavidliu is this actually a bug or something? Can you explain please more about the issue and its impact to Eureka availability, reliability etc.?

[2016-02-18 20:52] qiangdavidliu commented on #748
@pparth from looking at your error log and comparing against source code, it looks like the status result you are seeing is due to an NPE in your StatusResource itself, not necessarily due to any actual system issues. Given that you are seeing replication logs, it's likely your servers are still connected. One way to check is to try to make a /v2/apps/<your discovery server app name> call to see w

[2016-02-19 11:10] pparth commented on #748
Indeed, this has to do with the StatusResource and we do have a customised Eureka Service and do not use the original war. We were just wandering whether this error is not only about status and has a deeper root cause as we  have a replication issue. @drax68  please provide more info about this.

[2016-02-19 11:29] drax68 commented on #748
@qiangdavidliu we have reproducible test case, where changes in eureka cluster contents (addition/removal of eureka servers to/from txt dns records) causes loss of overriden data in registry on all eureka servers (overriden statuses, custom metadata). Is this something known, or will require separate issue to investigate?

[2016-02-19 16:16] clajder commented on #600
Could someone give rough estimate on how long it takes to decouple code from jersey v1?
Thanks!

[2016-02-19 20:40] qiangdavidliu commented on #748
@drax68 that is a known issue. status overrides for eureka at an instance level are scoped for the lifetime of a registration. So for example when you remove a server, a previously registering client to that server (which was overridden) will switch registration to a different server, and reset the override. We have explored a few different ways of dealing with internally but it has not come up as

[2016-02-22 11:15] pparth commented on #748
@qiangdavidliu
- Unfortunately, we think this issue raises its ugly head not only in a manual/administrative cluster upgrade but also in a standard failure pattern where a client cannot communicate with a server instance due to a network issue (e.g. for us, the ELB in front of the instance, croaked). This led all clients registered to this instance to switch to another server instance, which is wh

[2016-02-22 18:49] william-tran opened #750 "HTTPS serviceUrls end up being HTTP in 1.4.1"
https://github.com/Netflix/eureka/blob/v1.4.1/eureka-client/src/main/java/com/netflix/discovery/shared/resolver/aws/ConfigClusterResolver.java#L79 Should probably be
[code]

[2016-02-22 20:16] tbak commented on #750
Fixed by PR #751. Thank you for spotting this.

[2016-02-22 20:16] #750 closed

[2016-02-24 21:54] #702 closed

[2016-02-24 21:54] tbak commented on #702
Released in version 1.4.2

[2016-02-24 23:05] william-tran opened #753 "PeerAwareInstanceRegistryImpl.syncUp blocks unecessarily"
https://github.com/Netflix/eureka/blob/f2d9dbd886c2644d07ed5de6451c142a995af225/eureka-core/src/main/java/com/netflix/eureka/registry/PeerAwareInstanceRegistryImpl.java#L206

If its the last (or only) iteration of the loop, there's no need to sleep, because you won't be retrying again. To highlight the issue, if I wanted to implement a server that tries to fetch registry from peers once (with eure

[2016-02-24 23:42] #753 closed

[2016-02-26 01:50] qiangdavidliu commented on #704
Eureka has been updated to servo 0.10.x

[2016-02-26 01:50] #704 closed

[2016-02-26 01:54] kennedyoliveira opened #755 "Eureka server security"
Hello everyone!

I used eureka in a private network and it's very fine, similar to AWS, but now i need to use it exposed to the internet and was thinking if there is some security like https and at least a basic auth to protect so other people if they found the server can't register to it.

Is there something? Because i can't use a firewall since the microservices will have dynamic ips.

[2016-02-26 02:19] qiangdavidliu commented on #748
Hi @pparth

Can I clarify that your (client) applications register with STARTING only, and only transition to UP status via an external trigger (the REST call from the deployment workflow process mentioned)?

We use discovery's statuses slightly differently internally. Internally, we tie discovery statuses (STARTING, UP, DOWN) with our application healthchecks, and the state transitions between th

[2016-02-26 16:45] tbak commented on #755
Eureka does not provide any authentication mechanism, but it supports SSL.
To secure your deployment you might create private key/certificates for
both endpoints, and enable client side authentication. To do that you must
inject properly configured instance of EurekaJerseyClient (or build it
with EurekaJerseyClientBuilder). You can find those classes in
eureka-client package. There is unfortunatel

[2016-02-26 16:57] spencergibb commented on #755
@tbak basic auto used to work (version < 1.3.xish). Something changed with the use of `*Endpoint` classes. https://github.com/spring-cloud/spring-cloud-netflix/commit/ca81f5671a029fe81d3fe88991d2abf782648310 is how we solved it.

[2016-02-26 17:26] tbak opened #756 "Restore HTTP authentication support in eureka client"
Check https://github.com/Netflix/eureka/issues/755 for the context.

[2016-02-26 17:27] tbak commented on #755
@spencergibb Good to know. We will fix it. I have created a separate issue to track it (https://github.com/Netflix/eureka/issues/756).

[2016-02-26 18:00] spencergibb commented on #755
@tbak thanks man!

[2016-02-26 19:00] kennedyoliveira commented on #755
Thank you everyone for the feedback, i'll wait a solution for #756, and while it doesn't ready i'm gonna try spring cloud netflix.

[2016-02-26 19:00] #755 closed

[2016-03-04 04:31] neo-tian opened #762 "java.lang.ClassNotFoundException: com.netflix.eureka.converters.EntityBodyConverter"
I found "@Serializer("com.netflix.eureka.converters.EntityBodyConverter")" in "com.netflix.eureka.util.StatusInfo".

But  the "EntityBodyConverter" is in "com.netflix.discovery.converters",miss "discovery"

I use eureka-core and eureka-client  version is 1.1.147

[2016-03-04 11:43] pparth commented on #748
Got it.

Unfortunately, in our case, we maintain multiple Service types per machine in an ASG, so, we cannot link the ASG disables to a specific Service type Eureka status.

Regarding the status overrides, it seems that we are back to zero. According to you, the overrides should be preserved in our case. So, @drax68  please check again about our case and dig up more information about what exactly

[2016-03-12 06:33] kennedyoliveira commented on #756
Hello! Any news on this topic?

[2016-03-14 05:06] kennedyoliveira opened #764 "How to dynamic set eureka client information [InstanceID, port]"
Hello!

I'm developing an app and i wanna register with eureka after starting the server, and the port will be a random one, that the server will first try to bind and if it success that port will be used, so since eureka-client uses file based configuration, there is someway to set the port and instanceID info without using a file?

Thank you

[2016-03-14 17:39] tbak commented on #764
Eureka provides EurekaClientConfig configuration class, so you can always write your own implementation to set Eureka service urls with dynamic ports. If you need this for unit testing, please have a look at our DiscoveryClientResource junit resource that we use internally for testing (eureka-test-utils package). We are using ephemeral ports there.

[2016-03-14 17:43] tbak commented on #756
Sorry, we have been busy recently. Would you like to make a PR for this?

[2016-03-14 18:00] kennedyoliveira commented on #764
Hey @tbak, thank you, i'll sure check your implementation and maybe try to create my own.

Quick question, i noticed when i start the injector the eureka-client begins the initialisation, there is a way to delay it till i call something to start it?

[2016-03-14 18:02] kennedyoliveira commented on #756
I would love to, but don't know how can i make it, if you give me some hints, i don't understand the eureka server, well didn't looked at the source through.

Anyway, i'll try, but would be very helpful if you could give me some advices.

Thank you!

[2016-03-14 18:28] tbak commented on #764
@kennedyoliveira Eureka is starting the initialization immediately in the constructor. To delay it, you would have to implement a wrapper.

[2016-03-14 18:59] kennedyoliveira commented on #764
@tbak, got it, thank you for clarifying my doubts!

[2016-03-14 18:59] #764 closed

[2016-03-15 16:43] drax68 commented on #748
Re-tested that case, it's reproducible:
Eureka server configuration
[code]
Eureka dns name txt.us-west-1.eureka.env.example.com resolves to TXT record
`"txt.us-west-1a.eureka.env.example.com" "txt.us-west-1c.eureka.env.example.com"`

txt.us-west-1a.eureka.env.example.com resolves to
`"elb1"`

txt.us-west-1c.eureka.env.example.com resolves to
`"elb2"`

Test case is:
1. Deploy new pair of eureka ins

[2016-03-17 19:00] #756 closed

[2016-03-18 00:56] lenadroid opened #766 "Eureka sample service periodically fails when client connects"
I am following the example from this repo.
Eureka server is running on localhost:8080.

As a next step I attempt to run the sample service, like this:

`    ./gradlew :eureka-examples:runExampleService`

Here is the output that I get:

[code]

After I start the client, like this:

[code]

It basically connects to the server and waits for response, etc.

At the same time on the service terminal I s

[2016-03-21 16:38] pparth commented on #748
@qiangdavidliu Can you take a look at our latest information regarding the issue please?

[2016-03-21 22:51] qiangdavidliu commented on #748
@pparth looking at your description, this could potentially be an issue due to the order of operation between bringing up the new servers, and adding their records to the txt record. When a new server comes up, it will do a one time sync with a recognized peer (in this case an existing server). However this is one time only, so by the time this peer becomes a live server (due to the addition of it

[2016-03-23 14:37] drax68 commented on #748
Thank you, @qiangdavidliu
That sequence helped with unexpected registry data expiration.

[2016-03-23 17:24] qiangdavidliu commented on #748
@drax68 glad to hear that this resolves your issue.

[2016-03-23 17:24] #748 closed

[2016-03-25 10:51] searover opened #768 "Source code build failure"
When I clone and build the source code, it appears an error that say nothing but a test case failed in
EurekaClientServerRestIntegrationTest.java:244 , I have no idea what to do until I look into the source code and find the file, locate 244 line , i see it try to bind port 8080, and then i konw the port 8080 must be already in use, so i solved this problem.

Maybe in the unit test code, we should

[2016-03-25 16:36] tbak commented on #768
We should use ephemeral ports in tests. We do this now in most of the tests that create server sockets, but not everywhere. Thank you for spotting this.

[2016-03-29 04:23] searover opened #770 "Configuration links in wiki page is invalid."
https://github.com/Netflix/eureka/wiki/Configuring-Eureka
In the Configuration section, the advance configuration links are invalid, could you update this information, thank you.

[2016-03-30 19:46] qiangdavidliu commented on #762
@neo-tian thanks for that. This was fixed in release 1.1.158.

[2016-03-30 19:46] #762 closed

[2016-03-30 19:51] qiangdavidliu commented on #770
@searover we no longer host javadoc, but the interfaces themselves are documented. Have updated the links on the wikipage. Thanks.

[2016-03-30 19:51] #770 closed

[2016-03-30 19:54] qiangdavidliu commented on #766
@lenadroid are you running the client and server from the same git repo? Wondering if there may be a version mismatch somewhere as the server has a dependency on the client also.

[2016-03-30 19:56] lenadroid commented on #766
@qiangdavidliu yeah, from the same.

[2016-03-31 08:20] neo-tian commented on #762
Thank you,that is great

2016-03-31 3:46 GMT+08:00 David Liu <notifications@github.com>:

[2016-04-05 13:02] andreldm opened #772 "Limiting the number of instances of an application"
I'd like to know if it's possible to limit the number of instances registered at a given time.

[2016-04-06 08:40] jasollien commented on #600
Hi guys. Uncopling of jersey1 is essential for us in order to use Eureka. Any update on the progress would be much appreciated.

[2016-04-06 14:06] spencergibb commented on #600
It's not a priority for them, but I'm sure they would look at a pull request.

[2016-04-07 12:57] saneItchyHog commented on #600
Eagerly awaiting this as well

[2016-04-07 17:55] qiangdavidliu commented on #600
@jasollien @saneItchyHog we are taking a more drastic direction w.r.t. the client side of eureka (thinner clients with no jersey dependencies at all), and is working more towards this goal at the moment. We believe that this is a more flexible solution at the end of the day as it addresses other dependency problems as well as the jersey issue.

Us providing a jersey 2.x implementation of the curre

[2016-04-07 20:55] nick-pww commented on #600
@qiangdavidliu I think most of the folks following this would agree that removing the Jersey dependency from your side of things would be the 'best' solution for folks who are using this library. Personally, I don't care what you use for your underlying communications as long it's been well tested and vetted (which is what you are going for), AND doesn't get in the way of our own application devel

[2016-04-11 18:29] stevewallecs opened #775 "404 in Wiki"
A 404 is returned when trying to access http://netflix.github.io/eureka/javadoc/eureka-core/com/netflix/eureka/EurekaServerConfig.html from https://github.com/Netflix/eureka/wiki/Understanding-Eureka-Peer-to-Peer-Communication

[2016-04-13 00:23] qiangdavidliu commented on #775
Hi @stevewallecs we are working on some updated documentation. Hold on.

[2016-04-13 00:24] qiangdavidliu commented on #772
@andreldm there are no limits (either on total number of instances, or number of instances per application) currently. Is this some new functionality you are looking at?

[2016-04-13 00:26] qiangdavidliu commented on #766
@lenadroid this is a pretty weird one. The class that's failing with ClassNotFound is there, and your successful executions also prove that. Are you able to see the same sort of problems with a more complicated set up than the simple examples provided?

[2016-04-13 00:26] #737 closed

[2016-04-13 09:37] kristofferpeterhansel commented on #735
So spring-cloud-netflix Brixton RC1 is now using Eureka 1.4.4 and I am seeing some issues with connecting to the 1.1.x-bases Eureka server (from a previous spring-cloud-netflix version)  we currently use. Is this supposed to be compatible?

[2016-04-13 11:30] andreldm commented on #772
I was trying to limit the number of instance to only one at a time. Now I'm convinced this defeats the whole point of service discovery, so Eureka should not be ideal to my case.

[2016-04-13 13:02] spencergibb commented on #735
What issues? It may be a spring Cloud issue, not eureka.

[2016-04-13 13:08] kristofferpeterhansel commented on #735
Well. That was why I started asking in https://github.com/spring-cloud/spring-cloud-netflix/issues/953 . Since I am getting issues very similar to that.

Basically the service registers fine. But updates fail with exceptions like this:
[code]

[2016-04-13 17:29] qiangdavidliu commented on #772
@andreldm one of the tenants of eureka is that instances are abstracted away and application talk to each other over some fungible set of physical instances. If your use case require limiting it to just 1 instance, then yes eureka doesn't make too much sense.

[2016-04-13 17:29] #772 closed

[2016-04-13 22:58] qiangdavidliu commented on #735
@kristofferpeterhansel it's possible you are running into an eureka incompatibility also. We keep a much closer eye on (earlier) client, (later) server compatibility than the reverse (looks like you are trying to run client 1.4.4 with server 1.1.x?), and typically upgrade the server much more aggressively than the client versions.

[2016-04-14 08:22] kristofferpeterhansel commented on #735
@qiangdavidliu You are correct. It is exactly the scenario you describe. We run a spring-cloud-netflix 1.0.1-based Eureka server. Making it 1.1.147.

I suppose there is technically no reason why we couldn't upgrade it - since it is only a Eureka server and have no other dependencies. But it is a bit of a problem if we have to kill all our Eureka instances at the same time to do it. And I suspect t

[2016-04-16 04:07] bspline opened #777 ""Cannot execute request on any known server" when i set up a Eureka cluster by skyDns"
I also post this question on "https://groups.google.com/forum/#!topic/eureka_netflix/WV1Tfp1I5Mc"

Eureka version: 1.4.4

When i refer to "https://github.com/Netflix/eureka/wiki/Configuring-Eureka-in-AWS-Cloud", i want to set up a Eureka cluster by skyDns.

this is all the configuration of my eureka-client :

eureka.region=us-east-1

eureka.name=eureka

eureka.vipAddress=eureka.mydomain.net

eurek

[2016-04-16 14:57] ervansetiawan opened #778 "Unavailable-replicas when configuring Eureka cluster in private subnets"
We are trying to configure a Eureka cluster in private subnets within a VPC. Our setup consists of two Eureka servers that span two availability zones.

Each Eureka server is assigned an Elastic Network Interface with a static private IP.

Everything starts up, except that the Eureka servers don't seem to be aware of their peers.

Logs :
2016-04-16 14:49:02,642 INFO  com.netflix.eureka.registry.Pe

[2016-04-18 05:37] qiangdavidliu commented on #735
@kristofferpeterhansel how big of a cluster do you run? You *should* be able to upgrade the nodes one by one ... but given that the version 1.1.147 is now over a year old, it's "possible" an incompatibility exist. What happens if you just upgrade one of the nodes to the latest server build? Does it work for you?

[2016-04-18 06:13] qiangdavidliu commented on #777
Hi @bspline looking at the records, it looks like your configuration is expecting "eureka/v2/...", whereas the txt records are expecting it of the form "discovery/v2/...". There is a mistake in the (page)[https://github.com/Netflix/eureka/wiki/Deploying-Eureka-Servers-in-EC2] between the words eureka vs discovery that would have caused this. The page has been updated. Thanks.

[2016-04-18 06:13] #777 closed

[2016-04-18 06:17] qiangdavidliu commented on #775
Fixed the broken link, closing this issue for now. Will be adding some higher level docs for configuration both the client and server later.

[2016-04-18 06:17] #775 closed

[2016-04-18 06:22] qiangdavidliu commented on #778
Hi @ervansetiawan , the eureka servers are themselves clients as well, and use eureka-client to register with the server cluster (non-deterministic which server to register with, though governed by the zonal preferences). Its possible to see no peers if these clients on the servers fail with their registration. Can you see if there are client registration failure logs on your servers?

[2016-04-18 08:25] kristofferpeterhansel commented on #735
@qiangdavidliu Currently we run just two instances in each of our environments. There is no reason why I couldn't try it out in our test environment and see what happens. So I suppose I'll try that out when I

I realise it is an old version. But since we are using the version that comes with Spring Cloud Netflix. That is sort of impose on us by that. But I guess that is mainly a problem with that

[2016-04-18 08:52] sfussenegger commented on #735
@kristofferpeterhansel we ended up using "plain" eureka server for the same reason. the spring-cloud version really doesn't add anything other than a nice launcher inside IDEs. Eureka documentation is scarce already and the spring-cloud version really doesn't help.

It's pretty much what Samsung does to Android. Changes are mostly a matter of taste, come with their own issues and you wait forever

[2016-04-18 13:17] fangzhining commented on #777
I hava done what you said ,but it does not work.
The Error log almost is the same.It can only find one txtRecord.

2016-04-18 20:33:20,733 INFO  com.netflix.discovery.shared.resolver.aws.ConfigClusterResolver:40 [localhost-startStop-1] [getClusterEndpoints] Resolving eureka endpoints via DNS
The txtRecord is : us-east-1d.bar.skydns.paas
The cnamesString is : [us-east-1d.bar.skydns.paas]
The rootCl

[2016-04-18 13:23] fangzhining opened #780 ""Cannot execute request on any known server" when i set up a Eureka cluster by skyDns(2)"
After reading the solution of
 "Cannot execute request on any known server" when i set up a Eureka cluster by skyDns #777, i have  changed "http://10.120.180.117:8080/discovery/v2/" into "http://10.120.180.117:8080/eureka/v2/",but it does not work,i can't setup the cluster of eureka.

The Error log almost is the same.It can only find one txtRecord.

2016-04-18 20:33:20,733 INFO com.netflix.discove

[2016-04-18 17:22] qiangdavidliu commented on #777
@fangzhining sorry about that, looks like when I fixed the documentation mistake on that page, I did not do it fully (update yet again). For the dns option, you only need the hostname in the records, and should not include "http://", the port, nor the "eureka/v2".

[2016-04-18 17:22] qiangdavidliu commented on #780
@fangzhining sorry about that, looks like when I fixed the documentation mistake on that page, I did not do it fully (update yet again). For the dns option, you only need the hostname in the records, and should not include "http://", the port, nor the "eureka/v2".

[2016-04-19 02:25] fangzhining commented on #780
@qiangdavidliu ,thank you for you solution,but i hava done this too,the following are my attempts;
The first trying:
The metadata in DNS:
dig txt.us-east-1.bar.skydns.paas txt
;; QUESTION SECTION:
;txt.us-east-1.bar.skydns.paas.	IN	TXT
;; ANSWER SECTION:
txt.us-east-1.bar.skydns.paas. 3600 IN	TXT	"us-east-1d.bar.skydns.paas"
txt.us-east-1.bar.skydns.paas. 3600 IN	TXT	"us-east-1c.bar.skydns.paas"

[2016-04-19 19:50] qiangdavidliu commented on #780
@fangzhining can you tell me which AwsBinder you are using? Are you using Route53 or EIP? Thanks.

[2016-04-20 07:04] fangzhining commented on #780
@qiangdavidliu , i may have found what is wrong.i use skydns as my DNS,when i set the domain,it is not the format such as :
**txt.us-east-1.mydomaintest.netflix.net="us-east-1c.mydomaintest.netflix.net"
"us-east-1d.mydomaintest.netflix.net" "us-east-1e.mydomaintest.netflix.net"**
but like this:
curl -XPUT http://127.0.0.1:4001/v2/keys/skydns/paas/skydns/bar/us-east-1/txt/x1 -d value='{"text":"us-e

[2016-04-22 06:45] #780 closed

[2016-04-22 19:58] ervansetiawan commented on #778
I don't see any client registration failures in the logs. The two Eureka instances are registered with UP status.

[code]

This is the registration information from one of the Eureka nodes.
[code]

This is the Eureka dashboard
[code]

One thing that I also noticed is that I have two Eureka servers so I am expecting to only see one registered replica. As you can see in that dashboard, there are two

[2016-04-25 16:06] jelez commented on #778
I am curious about setting up eureka in VPC with private IPs - could you share how you set it up?

[2016-04-25 20:05] SphereUser commented on #766
eureka is pretty unstable and avoid to use it in serious applications.

[2016-04-25 21:12] qiangdavidliu commented on #778
@jelez eureka servers are not really designed to operate with floating IPs, the servers themselves need to have fixed IPs (e.g. EIPs in aws) to work well.

[2016-04-25 21:14] qiangdavidliu commented on #766
@SphereUser I'm curious to the unstability that you are seeing. We internally run eureka at very large scale and it has been stable for many years. One thing we are trying to update is documentation on configuration and operation of the servers, which currently on github is lacking some advanced info.

[2016-04-27 14:56] cschneider opened #782 "No war file created for eureka 2 server"
The wiki says that I should have a eureka server war after the build.

The directory eureka/eureka2-server/build/libs only contains this though:
eureka2-server-2.0.0-SNAPSHOT.jar  eureka2-server-2.0.0-SNAPSHOT-javadoc.jar  eureka2-server-2.0.0-SNAPSHOT-sources.jar

I build using
./gradlew build

Is this a bug or is the documentation just not up to date?

[2016-04-27 17:15] qiangdavidliu commented on #782
Hi @cschneider eureka2 is not a jersey base application, so there is no war file generated. Having said this, the current stable eureka is the build on the master branch, which is the 1.x system. The 2.x system is currently not complete. Thanks.

[2016-04-28 01:23] mattnelson opened #783 "Unversioned user agent when shading eureka-client"
When shading eureka-client the manifest is lost in favor of the parent. DiscoveryBuildInfo[1] assumes that the version can be obtained from the manifest. Which propagates itself as an unknown version on the client user agents[2].

[code]

Since eureka is using the `nebula.netflixoss` plugin a `eureka-client.properties` file is dropped in `META-INF`, I tried to use that file as a drop in replacemen

[2016-04-28 06:14] cschneider commented on #782
I know 2.x is not yet released. We are currently evaluating registries and eureka 2 sounds quite good from the API perspective.
Does it make sense to already look into eureka2? Our product is going to go into production end of this year. Do you think eureka2 will be out until then?
If yes how do I start the server? I do not have the requirement for it to be a war.

[2016-05-02 07:46] #782 closed

[2016-05-03 15:41] ervansetiawan commented on #778
I finally got this to work internally. It appears that the root cause is the fact that com.netflix.eureka.util.StatusUtil.isReplicaAvailable is comparing the values of serviceUrl param with the hostName in the registry.

Since I am running Eureka cluster in a private subnet, the hostName in the registry is the private IP address (i.e. 10.0.0.5). In my original configuration, I had set up the Eurek

[2016-05-03 15:41] #778 closed

[2016-05-03 19:02] agomezcafeto opened #785 "Improve documentation for the server configuration in the yml file."
I can not find any documentation about how to configure the eureka server, specifically, documentation related with the yml file.

[2016-05-03 19:27] qiangdavidliu commented on #785
@agomezcafeto eureka does not use a yml based configuration. Currently, the configs are self documented in javadoc in EurekaServerConfig.java, and you can get some highlevel set up information from https://github.com/Netflix/eureka/wiki/Deploying-Eureka-Servers-in-EC2

[2016-05-03 19:33] ervansetiawan commented on #778
@jelez We are using Elastic Network Interface to provide static IP addresses.

[2016-05-09 20:46] remesh22 opened #788 "Eureka Ribbon not working in Weblogic 12c server"
I am not able to call a microservice from another service using RestTempale backed by ribbon.
Everything works fine if i use Tomcat instead of weblogic. Is Ribbon supposed to work on weblogic?
 restTemplate.exchange() is giving me the following error:

java.lang.IllegalStateException: Error processing condition on org.springframework.cloud.netflix.ribbon.eureka.EurekaRibbonClientConfiguration.ribb

[2016-05-09 21:17] spencergibb commented on #788
Netflix doesn't maintain Spring Projects. You should probably report this here ttps://github.com/spring-cloud/spring-cloud-netflix/issues

[2016-05-10 14:27] remesh22 commented on #788
Thanks.Reporting as an issue in htps://github.com/spring-cloud/spring-cloud-netflix/issues.

[2016-05-10 14:27] #788 closed

[2016-05-18 19:32] bebepeng opened #796 "API for delete application"
So we have found ourselves in the situation where somehow the instanceID registered has "http://" in it. We are unable to use the regular delete endpoint to get rid of it.  It would be nice to expose an endpoint that would delete the app or clear all instanceIDs.

[2016-05-20 18:25] fcjreed opened #798 "Update client initialization example"
Please update the example eureka client code to reflect the deprecated changes.

[2016-05-21 07:19] tsjsdbd opened #799 "The default jersey configuration makes the API logic unavailable"
Eureka server code [here](https://github.com/Netflix/eureka/blob/master/eureka-core/src/main/java/com/netflix/eureka/resources/ApplicationsResource.java#L150): if http client don't want gzip response, then the server will return result uncompressed.

but when you try this feature, it always return compressed result with Gzip。

after some investgation, i find the default jersey configuration let je

[2016-05-27 20:29] qiangdavidliu commented on #798
Thanks, fix in #801

[2016-05-27 20:32] qiangdavidliu commented on #740
Latest spring-cloud-netflix is on eureka 1.4.x, closing.

[2016-05-27 20:32] #740 closed

[2016-05-27 20:40] qiangdavidliu commented on #766
Closing this issue as the problem is specific (after more investigation) for the example when ran with gradle using the gradle applications plugin. Using the dist option and also in real operation the ClassNotFoundExceptions are not seen.

[2016-05-27 20:40] #766 closed

[2016-05-27 20:41] #785 closed

[2016-05-27 20:48] qiangdavidliu commented on #799
@tsjsdbd thanks for noting this. What you say is correct. From the server side logic, gzip or not is an option governed by accept encoding. However the default server build contains, as a default filter, the Gzip encoding filter that gzips all responses regardless of accept encoding.

Internally, our usage levels are so high that is not realistic to produce unzip responses for any request, hence t

[2016-05-27 20:48] #799 closed

[2016-05-27 22:25] #798 closed

[2016-05-28 09:02] tsjsdbd commented on #799
thanks for kindly reply, I agree that no need to return unzipped data for most scenario.
but on another hand, if the low level implementation finished the job about the feature, the appliacation level should no do it again, just focus on application logic maybe is more concise :-)
(it have a little code deal with the HTTP header, and judge whether compress the response, and some code for compress

[2016-05-31 16:45] seh commented on #598
Where in the Eureka code base does something interpret that property's value as a list?

[2016-05-31 16:59] alessnet opened #802 "race condition when registering instance ?"
Hello,

I'm using the REST api to register my service in Eureka.
There is a case when one of my Eureka server doesn't see the latest status of my registered service.

Let's say I have two Eureka instances MACHINE1 and MACHINE2.
When my service starts, it takes the first available server (MACHINE1) and does a register (POST /v2/apps/myservice) with the status "STARTING".

The service does start and

[2016-05-31 17:10] seh commented on #598
Ah, there is [`com.netflix.discovery.shared.Applications#addInstanceToMap()`](https://github.com/Netflix/eureka/blob/master/eureka-client/src/main/java/com/netflix/discovery/shared/Applications.java#L515), which contains this statement:
[code]

[2016-05-31 19:44] qiangdavidliu commented on #802
@alessnet are you using eureka via direct REST requests, and not through the provided eureka-client? There are a few subtleties in the way registrations are handled by eureka, that is usually abstracted away by using the client. Primarily, these are:
- the client contains a eureka specific loadbalancer for talking to the server cluster, such that it minimises target switches for a given client:ser

[2016-06-01 08:07] alessnet commented on #802
@qiangdavidliu

I'm using the REST API in C#. Using the java client (event in a separate process) not an option unfortunately.

I'm specifying the dirtytimestamp myself during registration at client side (in case the timers on the two eureka servers are slightly off). But the issue persists if I don't specify it. What should I put in this field ?

I agree that a correct load balancer will minimize

[2016-06-01 21:17] zgagnon commented on #796
+1

[2016-06-02 22:24] qiangdavidliu commented on #796
@bebepeng @zgagnon  sorry for not taking a look at this issue earlier. Can you describe the issue you are seeing in a bit more detail? From what you describe, can I assume the "http://" of the id is what's preventing the DELETE request due to url parsing?

If that is the case, eureka have an internal eviction mechanism where if a heartbeat from a client source is missed for 3 consecutive times (us

[2016-06-02 22:24] qiangdavidliu commented on #679
archiving as eureka2 work is going through some larger internal changes.

[2016-06-02 22:24] #679 closed

[2016-06-02 22:25] qiangdavidliu commented on #575
archiving as eureka2 work is going through some larger internal changes.

[2016-06-02 22:25] #575 closed

[2016-06-02 22:25] qiangdavidliu commented on #484
archiving as eureka2 work is going through some larger internal changes.

[2016-06-02 22:25] #484 closed

[2016-06-02 22:25] qiangdavidliu commented on #485
archiving as eureka2 work is going through some larger internal changes.

[2016-06-02 22:25] #485 closed

[2016-06-02 22:25] qiangdavidliu commented on #493
archiving as eureka2 work is going through some larger internal changes.

[2016-06-02 22:25] #493 closed

[2016-06-02 22:25] qiangdavidliu commented on #482
archiving as eureka2 work is going through some larger internal changes.

[2016-06-02 22:25] #482 closed

[2016-06-02 22:25] qiangdavidliu commented on #476
archiving as eureka2 work is going through some larger internal changes.

[2016-06-02 22:25] #476 closed

[2016-06-02 22:25] qiangdavidliu commented on #467
archiving as eureka2 work is going through some larger internal changes.

[2016-06-02 22:25] #467 closed

[2016-06-02 22:25] qiangdavidliu commented on #502
archiving as eureka2 work is going through some larger internal changes.

[2016-06-02 22:25] #502 closed

[2016-06-02 22:25] qiangdavidliu commented on #450
archiving as eureka2 work is going through some larger internal changes.

[2016-06-02 22:25] #450 closed

[2016-06-02 22:25] qiangdavidliu commented on #441
archiving as eureka2 work is going through some larger internal changes.

[2016-06-02 22:25] #441 closed

[2016-06-02 22:25] qiangdavidliu commented on #410
archiving as eureka2 work is going through some larger internal changes.

[2016-06-02 22:25] #410 closed

[2016-06-02 22:25] qiangdavidliu commented on #184
archiving as eureka2 work is going through some larger internal changes.

[2016-06-02 22:25] #184 closed

[2016-06-02 22:26] qiangdavidliu commented on #181
archiving as eureka2 work is going through some larger internal changes.

[2016-06-02 22:26] #181 closed

[2016-06-02 22:26] qiangdavidliu commented on #602
archiving as eureka2 work is going through some larger internal changes.

[2016-06-02 22:26] #602 closed

[2016-06-02 22:27] qiangdavidliu commented on #735
Closing this issue as the discussion seem to have to come to some conclusion.

[2016-06-02 22:27] #735 closed

[2016-06-02 22:28] qiangdavidliu commented on #676
New transport is now the default, closing.

[2016-06-02 22:28] #676 closed

[2016-06-03 18:32] zgagnon commented on #796
Have resolved the issue.

Our Eureka instance was in self-preservation mode due to a large number of instances being turned off at once. After manually deleting all extraneous instances that we could, the invalid id instance (http://127.0.0.1) failed its heartbeats and was removed. In this case, a different app had 50+ instances registered at one point (which were all disabled), and after removing

[2016-06-03 20:47] qiangdavidliu commented on #796
Glad to hear that issue is resolve on your end. Closing this issue.

W.r.t. an API for application level deletion, agree that it would be useful in some cases. If there is some urgency to the desire of this feature, please feel free to make a PR to add it. Thanks.

[2016-06-03 20:47] #796 closed

[2016-06-03 20:58] qiangdavidliu commented on #802
@alessnet the lastDirtyTimestamp is intended to be supplied at the client side (and is what the java client does, see [InstanceInfoReplicator.java](https://github.com/Netflix/eureka/blob/master/eureka-client/src/main/java/com/netflix/discovery/InstanceInfoReplicator.java) for code and also comments on client registration logic).

Since this intended to be client generated (and guaranteed at the cl

[2016-06-06 07:43] codependent opened #803 "Eureka Peer Server throwing java.lang.NullPointerException: null at com.netflix.eureka.registry.AbstractInstanceRegistry.renew"
I am using Spring Cloud Netflix to run two Eureka (1.4.6) servers with peer awareness and found this issue after their last API upgrade:

[code]

[Here are the details](https://github.com/spring-cloud/spring-cloud-netflix/issues/1065) to reproduce the problem.

[2016-06-06 08:49] alessnet commented on #802
@qiangdavidliu

First of all, thank you for taking the time to answer my questions :)

I'm sending a dirty timestamp and commands are correctly serialized at clientside (so the second register is correctly sent after the first one correctly finished). This is similar to your java code, so I can assure you that I don't make two write operations in parallel.

The only difference I see is that every

[2016-06-06 13:59] spencergibb commented on #803
I sent him here as the NPE is in pure eureka code

[2016-06-13 06:26] magicDong88 opened #804 "How long is the registration information retained on the client side after eureka server closed"
Application(A) as a service was registered in the eureka server, so another application(B) was able to call the service (A) by eureka client. Then I shutdown the eureka server, What I'm confused about is that the app(B) still was able to call the service(A) during about 30 seconds.
Could you please explain how long is the registration information retained on the client side after eureka server clo

[2016-06-13 20:34] qiangdavidliu commented on #802
@alessnet sorry about only getting back to you now, I was away for a bit.

I did some more digging into the code, and I think you are correct in saying that (if using the REST api directly), there is a potential registration race condition where if two successive registration requests landed on different machines and happen fast enough such that replication has not yet occurred between the two mac

[2016-06-13 20:44] qiangdavidliu commented on #803
Thanks @spencergibb. Looking at the the issue on the spring cloud netflix issue and the code, I see that the NPE is due to an out of order creation of a metrics counter. This is a harmless NPE that should only happen at init time. We will take a look at a simple PR to address this regardless.

The details: this is caused due to the second server not completing initialization (specifically, the ope

[2016-06-13 21:04] qiangdavidliu commented on #804
Hi, if you are using the provided java eureka-client, then the registry cache on the client side will be forever and does not expire. The data will update if (at least one) eureka server exist and is reachable, and if no eureka servers exist, then the cache will essentially be frozen in time. Note that the default DiscoveryClient.java implementation offers the method getLastSuccessfulRegistryFetch

[2016-06-15 15:40] mattnelson opened #807 "Prefer javax.inject provider over guice"
The guice provider[1] has been updated to extend the javax.inject provider. When supplying a custom provider such as the health check handler provider the contract can be relaxed to the base type.

[1] http://static.javadoc.io/com.google.inject/guice/4.0/com/google/inject/Provider.html
[2] https://github.com/Netflix/eureka/blob/v1.4.8/eureka-client/src/main/java/com/netflix/discovery/DiscoveryClie

[2016-06-15 17:49] spencergibb commented on #807
We have to do some odd workarounds for eureka's guice dependency sometimes https://github.com/spring-cloud/spring-cloud-netflix/commit/89e893fc9bfcbbd4fb531453430638d25ea8ee41

[2016-06-17 03:56] kennedyoliveira opened #809 "Deploy on Wildfly"
Hi everyone,

i tried to deploy the eureka-server on Wildfly, but it's not working, i think there's something with Jersey, i don't have knowledge about Jersey, so my doubt is, it's possible to deploy it on Wildfly?

There's something special about using Jersey instead of another JAX-RS implementation?

By the way, the problem deploying on Wildfly is:

[code]

[2016-06-17 22:15] mattnelson commented on #807
Addressed with #808

[2016-06-17 22:15] #807 closed

[2016-06-21 12:02] Writtscher opened #810 "Old 'javax.ws.rs' library"
I've come across some nasty dependency clashes by using eureka-client jar and some newer libraries. Eureka-Client jar does depend on **jsr311** which is the old specification. Some of my dependecies do require **javax.ws.rs-api** which is the new one. For example **javax.ws.core.Response** is different in the new version and this causes some troubles for me. I've exluded the old one but this is ju

[2016-06-21 13:57] alessnet commented on #802
Hi @qiangdavidliu, did you manage to reproduce this?

[2016-06-22 05:54] qiangdavidliu commented on #802
Hi @alessnet we have not had time to work on this unfortunately. Will see if we can try to repro this this week.

[2016-06-22 05:54] qiangdavidliu commented on #803
Fix will be available in the next release.

[2016-06-22 05:54] #803 closed

[2016-06-22 05:55] #804 closed

[2016-06-22 05:57] qiangdavidliu commented on #810
@Writtscher we have decided to take a different direction and will be making the client side of eureka independent of jaxrs completely. Work is being done internally, however we don't have any timelines that can be shared as of yet.

[2016-06-22 08:16] Writtscher commented on #810
Well thanks for the quick answer. I'm fine for now pulling the new library and exclude the *jsr311* dependecy as there is no failure at the moment.

[2016-06-28 21:36] #810 closed

[2016-06-28 21:37] qiangdavidliu commented on #802
@alessnet I've semi-verified it via the above PR, and will be doing some tests in our test and prod environments before confirming.

[2016-06-30 20:05] mattnelson commented on #600
@qiangdavidliu

I am starting to look into eureka-client-jersey2 and picking up where you guys left off, but I wanted to put a feeler out to see what progress had been made on the jersey-agnostic client and if there was the possibility of a release candidate being available.

[2016-06-30 20:19] qiangdavidliu commented on #600
@mattnelson as part of the new work we are doing a bit more than just a different client, but are also taking advantage of this to rework the data model to update it to the 2016 requirements we have as a company, compared to when eureka was first published (better VPC support for example). Part of the work will include introducing a proxy tier to handle the compatibility with the existing eureka s

[2016-06-30 23:39] spencergibb commented on #600
@mattnelson we have users (large institutions) that would love have a jersey2 client working.

[2016-07-01 22:28] qiangdavidliu commented on #44
Closing due to inactivity.

[2016-07-01 22:28] #44 closed

[2016-07-01 22:28] qiangdavidliu commented on #71
Closing due to inactivity.

[2016-07-01 22:28] #71 closed

[2016-07-01 22:29] qiangdavidliu commented on #90
Closing due to inactivity.

[2016-07-01 22:29] #90 closed

[2016-07-01 22:29] qiangdavidliu commented on #663
Closing due to inactivity.

[2016-07-01 22:29] #663 closed

[2016-07-01 22:29] qiangdavidliu commented on #628
Closing due to inactivity.

[2016-07-01 22:29] #628 closed

[2016-07-01 22:29] qiangdavidliu commented on #620
Closing due to inactivity.

[2016-07-01 22:29] #620 closed

[2016-07-01 22:30] qiangdavidliu commented on #598
Closing due to inactivity.

[2016-07-01 22:30] #598 closed

[2016-07-01 22:30] qiangdavidliu commented on #597
Closing due to inactivity.

[2016-07-01 22:30] #597 closed

[2016-07-01 22:34] qiangdavidliu commented on #554
This is fixed and now DiscoveryClient instances now have their own config instances. (A static reference still exist for backwards compatibility of some of the existing deprecated static methods, but the static config will be pointing a non-deterministic version of one of the client's instance level config).

[2016-07-01 22:34] #554 closed

[2016-07-01 22:34] qiangdavidliu commented on #111
Closing due to inactivity.

[2016-07-01 22:34] #111 closed

[2016-07-01 22:34] qiangdavidliu commented on #91
Closing due to inactivity.

[2016-07-01 22:34] #91 closed

[2016-07-01 22:38] spencergibb commented on #620
I actually really agree with this one. We see lots of users asking about what look like errors in the logs that are warnings.

[2016-07-01 22:43] qiangdavidliu commented on #620
@spencergibb we've actually removed some of the warn level logging recently, especially the reconcile hash code mismatch warn log msg that had no value, and is the most "annoying" of the warn logs.

[2016-07-01 22:46] spencergibb commented on #620
@qiangdavidliu thanks for the note!

[2016-07-01 23:10] qiangdavidliu commented on #620
My mistake for the wrong comment when I closed this issue.

[2016-07-06 01:57] bitsofinfo opened #812 "com.netflix.eureka.shouldSSLConnectionsUseSystemSocketFactory not working"
on 1.4.8

When this `DiscoveryClient` constructor is invoked

`public DiscoveryClient(ApplicationInfoManager applicationInfoManager, final EurekaClientConfig config, DiscoveryClientOptionalArgs args) {`

The system property `com.netflix.eureka.shouldSSLConnectionsUseSystemSocketFactory=true` does not seem to be obeyed.

Trying to solve this kind of exception:

[code]

[2016-07-06 20:23] qiangdavidliu commented on #812
@bitsofinfo thanks. PR #813 should be a fix.

[2016-07-06 20:47] bitsofinfo commented on #812
Thank you, such a quick response. Thanks man

[2016-07-07 01:13] qiangdavidliu commented on #812
@bitsofinfo give 1.4.10-rc.1 a try and see if it fixes your issue?

[2016-07-07 16:03] bitsofinfo commented on #812
Yes I ran the 1.4.10-rc.1 in a debugger in my app and now it properly invokes `createSystemSslCM()`  when `buildLegacy` is invoked.

Quick question, what would be the best strategy to have this use a custom HostnameVerifier? I don't see a way to configure that

[2016-07-07 16:11] bitsofinfo commented on #812
@Jumpy-Squirrel does this solve your issue at: https://github.com/spring-cloud/spring-cloud-netflix/issues/1077

[2016-07-11 10:58] moizkhan2712 opened #814 "Eureka Server Basic HTTP Auth configuration"
Hi,

I've managed to get multiple Eureka servers up, running and synchronized without issue. Looking at the docs,class definitions and other forum posts, there doesn't seem to be a clear way to implement HTTP authentication server-side. Is this possible at all or not? It looks to be possible in the spring-cloud-netflix eureka repo from this [post](http://stackoverflow.com/questions/28974752/securi

[2016-07-12 07:03] gangakrishh opened #815 "client for elasticsearch"
Do we've any plugin or client for elasticsearch to be register with Eureka?

[2016-07-12 14:26] bitsofinfo opened #816 "Add support for custom HostnameVerifier"
There seems to be no way to specify a custom HostnameVerifier for the DiscoveryClient.

Can this support be easily added?

See #812

[2016-07-12 19:57] qiangdavidliu commented on #816
Hi @bitsofinfo that sounds like a useful addition for eureka. We are a bit swamped with other work at this moment, would you like to try a PR for this feature? Thanks.

[2016-07-12 19:58] qiangdavidliu commented on #815
https://github.com/Netflix/Raigad is one possible solution.

[2016-07-12 19:58] #815 closed

[2016-07-12 20:02] qiangdavidliu commented on #814
@moizkhan2712 our internal set-up do SSL via fronting the eureka tomcat servers with an apache layer.

[2016-07-12 20:05] qiangdavidliu commented on #809
@kennedyoliveira unfortunately we have not tried out any deployments on Wildfly, and I am not sure if any one in the community have tried this either. It might be worth while asking this question in the Eureka Google Group to see if anyone from the community respond.

[2016-07-12 20:05] #809 closed

[2016-07-12 20:05] qiangdavidliu commented on #802
Fixed in release 1.4.9

[2016-07-12 20:06] qiangdavidliu commented on #802
Actually 1.4.9 provided a mechanism to "fix" this, but has not defaulted it yet. Will keep this open until we switch the defaults over.

[2016-07-14 17:14] qiangdavidliu commented on #92
Issue #554 have been addressed, so it is now possible to create multiple instances of DiscoveryClient (with their own configs) and achieve multiple registration from the same process. Note that to do this the server would have to not use Guice to create the clients.

[2016-07-14 17:14] #92 closed

[2016-07-14 17:16] qiangdavidliu commented on #783
@mattnelson we are open to either resolution step, though I can foresee potential confusion w.r.t. option 2 as the (archaius based) configuration file for eureka is also called eureka-client.properties.

[2016-07-14 17:35] qiangdavidliu commented on #672
Not a bug, this is also handled by the full fetch code path in
[code]

[2016-07-14 17:35] #672 closed

[2016-07-18 14:28] mattnelson commented on #783
The `eureka-client.properties` file will be in the `META-INF` resource folder and while it is the same file name, it would take some work for a user to incidentally put this file on the archaius path. I'll get started on the plugin updates as that seems to be to most correct way to resolve this. I'll have a follow up PR to change eureka to fall back to `eureka-client.properties` once the plugin up

[2016-07-19 18:22] robertnosburn opened #818 "IndexOutOfBounds Exception thrown repeatedly when Eureka has no EIPs containing "ec2-""
The EIPManager has a running task that looks to bind Eureka to EIPs.  In our case we are writing an application which is hosted in AWS but will not be publicly available and will be accessible ONLY from our corporate network.

We have an AWS Direct Connect to our corporate environment.  My EC2 container running my docker images, including Eureka, does not have a public nor elastic IP address.  In

[2016-07-20 02:30] fengbaicanhe opened #820 "How can i listen client register event in eureka server?"
Is there any mechanism in **eureka server** ,that i can listen all eureka client register/deregister event, when i    catch the event,so i can send a notification to someone

[2016-07-20 18:25] mattnelson commented on #600
Got the PR out for this on #821

[2016-07-20 22:07] qiangdavidliu commented on #820
Hi @fengbaicanhe the current eureka server implementation have some level of caching, and does not support real time notifications.

[2016-07-20 22:12] qiangdavidliu commented on #818
Hi @robertnosburn thank you for the PR. Looking at your usecase, it seems like what you would prefer is that the EIPBinder not run at all?

Eureka servers need to have fixed IPs, and EIP is one mechanism that we use to guarantee that in a cloud environment. However if you are able to guarantee that via some other mechanism, then possibly a better way to disable the errors from the EIPBinder is to

[2016-07-20 23:25] robertnosburn commented on #818
Hi David,

I think that you are correct, I do not have any EIPs and so the EIPBinder would be unnecessary.  My Eureka runs in a docker container in an ec2 instance with a loadbalancer and a route-53 entry pointing to it.  This is how it's getting a fixed IP.  My microservices with Eureka clients know the location of the Eureka server by it's route-53 cname.

Looking through the code I also saw "e-

[2016-07-21 00:03] robertnosburn commented on #818
David,

I found the "eureka.server.binding-strategy" and set it to route53.  This causes a NPE on the EurekaController:

2016-07-20 23:44:54.878 ERROR 5 --- [nio-8761-exec-2] o.a.c.c.C.[.[.[/].[dispatcherServlet]    : Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Request processing failed; nested exception is java.lang.NullPointerException] with root ca

[2016-07-21 01:32] qiangdavidliu commented on #818
@robertnosburn I buy your point, thanks. Have merged your PR in. As for the route53binder, let me take a look at that. We don't actually use that binder optional at Netflix and it was contributed to us by an external user, so it may have quirks that's specific for their use case.

[2016-07-21 01:46] fengbaicanhe commented on #820
@qiangdavidliu  Is there any plan for this feature?

[2016-07-21 18:38] robertnosburn commented on #818
David,

Digging a little further, the actual exception is:
java.lang.RuntimeException: Cannot bootstrap eureka server :
        at org.springframework.cloud.netflix.eureka.server.EurekaServerBootstrap.contextInitialized(EurekaServerBootstrap.java:87) ~[spring-cloud-netflix-eureka-server-1.1.4.RELEASE.jar!/:1.1.4.RELEASE]
        at org.springframework.cloud.netflix.eureka.server.EurekaServerInitia

[2016-07-25 22:28] qiangdavidliu commented on #820
@fengbaicanhe there's nothing on that that we can commit to at the moment unfortunately.

[2016-07-27 12:28] ShadySQL opened #823 "VPC Deployments"
Not sure where to ask this - marked also a question on the google group. I essentially want to know if Eureka only supports deployments of EIP. I dont want to advertise all our services to the world.

[2016-07-27 15:06] qiangdavidliu commented on #823
Hi @ShadySQL eureka support other forms of fixed addresses. such as ENI and Route53 DNS (which in EC2 vpc can be private). In all cases (EIP or otherwise) you can secure your service with Security Groups.

[2016-07-27 15:06] #823 closed

[2016-07-29 08:10] fengbaicanhe commented on #820
ok, thanks @qiangdavidliu

[2016-07-29 08:10] #820 closed

[2016-08-02 09:50] killjason opened #825 "Where does eureka store the registration data?"
Where does eureka store the registration data? in Memory? or both memory and file?

[2016-08-02 14:22] spencergibb commented on #825
I'm memory

[2016-08-02 15:42] dajester2013 opened #826 "Problems getting maven project configured with eureka-client"
I imported the eureka-client dependency into my maven project, in an attempt to build an app based on http://sparkjava.com (instead of spring) that would register as a client.  I've used https://github.com/Netflix/eureka/tree/master/eureka-examples/src/main/java/com/netflix/eureka as a guide to some degree of success:

The project compiles and runs fine within Eclipse, but trying to compile with m

[2016-08-02 16:15] brharrington commented on #826
For some background on the runtime dependencies issue with nebula, see: https://github.com/nebula-plugins/nebula-publishing-plugin/issues/31

The simplest short term work around I know of would be to just add the dependency directly to your project rather than relying on it being transitive. For `com.netflix.config` specifically, the dependency below provides that package:

https://mvnrepository.c

[2016-08-03 01:56] killjason commented on #825
if all the eureka servers crash, how to recover registration data?

[2016-08-03 08:50] killjason opened #827 "register only one rest/method/class to Eureka server"
In the Eureka client application, we defined 'spring.application.name'  in the file 'application.properties'.
so this application will register to Eureka server, If I just want to register one rest/method/class of this Eureka client application, How should I do?

[2016-08-03 14:23] spencergibb commented on #827
This is the wrong repo to ask. Use spring cloud Netflix please.

[2016-08-03 14:30] dajester2013 commented on #826
thanks for the info - i posted a comment there with a suggested fix from the gradle forums.  it's really unfortunate that i either have to use gradle or spend so much time inspecting eureka's (or any other netflix-developed component's) dependency tree and manually configuring my maven dependencies.  that is a complete waste of my time, and speaks very poorly of gradle to me.

[2016-08-03 14:30] #826 closed

[2016-08-03 16:21] killjason commented on #827
@spencergibb , OK, I create a issue in spring cloud netflix:
https://github.com/spring-cloud/spring-cloud-netflix/issues/1222

[2016-08-03 16:21] #827 closed

[2016-08-03 21:23] miggy8234 opened #828 "Eureka-server.properties has content of MANIFEST.MF on distributions"
For Eureka-client since version 1.4.6 the Eureka-server.properties file has the exact same content as the MANIFEST.MF inside of the META-INF folder. So when deployed the default file reflects that of MANIFEST.MF. (Issue in version 1.4.7-rc.3 to current version 1.4.11-rc.1)

[2016-08-08 09:24] lijunyong opened #829 "my eureka server cluster have a exception"
2016-08-08 17:18:08.999 DEBUG 12076 --- [nio-7001-exec-7] o.a.coyote.http11.Http11NioProcessor     : Error parsing HTTP request header

java.io.EOFException: Unexpected EOF read on the socket
	at org.apache.coyote.http11.InternalNioInputBuffer.fill(InternalNioInputBuffer.java:152) ~[tomcat-embed-core-8.0.33.jar:8.0.33]
	at org.apache.coyote.http11.AbstractNioInputBuffer.parseRequestLine(AbstractNi

[2016-08-09 03:19] marcosbarbero commented on #825
@killjason if it all crashes the data will be rebuild by the service registration heat beat. As the first startup happens.

[2016-08-09 03:38] killjason commented on #825
@marcosbarbero , OK, got it, thx~

[2016-08-09 03:38] #825 closed

[2016-08-12 00:09] qiangdavidliu commented on #829
Hi @lijunyong what environment (tomcat version etc) are you trying to run the server under? Thanks.

[2016-08-12 08:26] lijunyong commented on #829
@qiangdavidliu tomcat 8.0.33

[2016-08-17 08:07] killjason opened #830 "Does eureka server support server-side load balance strategy?"
As I know, Ribbon supports client-side load balance strategy,Does eureka server support server-side load balance strategy?

[2016-08-17 17:17] ibaiul commented on #818
@robertnosburn, @qiangdavidliu   I have a problem with aws-java-sdk-core:jar:1.10.30:runtime and aws-java-sdk-ec2:jar:1.10.30:runtime dependencies as well.
Note:
I am using aws-java-sdk-sqs:1.10.72 which depends on aws-java-sdk-core:jar:1.10.72
I am using eureka-core:jar:1.4.10 which depends on aws-java-sdk-core:jar:1.9.3 and aws-java-sdk-ec2:jar:1.9.3
Dependency tree for -Dincludes=com.amazonaws:

[2016-08-22 22:27] qiangdavidliu commented on #802
Released in 1.4.11

[2016-08-22 22:27] #802 closed

[2016-08-22 22:30] qiangdavidliu commented on #828
Hi @miggy8234 do you mean the configuration based eureka-server.properties? The one that is sourced by the configuration system (archaius) should be under the path WEB-INF/classes/eureka-server.properties .

[2016-08-22 22:31] qiangdavidliu commented on #830
Hi @killjason there is some very basic "client side LB" available via the default java client, see EurekaClient.getNextServerFromEureka(). However there are currently no LB rest endpoints exposed from the server.

[2016-08-24 12:45] #814 closed

[2016-08-29 13:25] miggy8234 commented on #828
Hello @qiangdavidliu , No I mean if I download the latest jar from the maven central repository and deploy it to a server. The eureka.property files will have the same content as the MANIFEST.MF.

Downloaded from here: http://search.maven.org/#search%7Cga%7C1%7Ceureka-client

[2016-08-30 12:01] iamzhout opened #834 "How many service instances can one instance of eureka support?"
I have checked eureka wiki, and not found this kind of information.

Could you please share the performance matrix about Eureka? such as:
1.  How many service instances can one instance of Eureka support?
2.  How many CPU / memory should one eureka use under such condition?
3.  What's the original refresh interval for eureka client in such circumstances, and how many concurrent requests can eureka

[2016-09-01 09:25] killjason opened #836 "How to set hostname for eureka-client?"
How to set hostname for eureka-client which is registered in eureka-server?

[2016-09-01 17:19] qiangdavidliu commented on #834
Hi @iamzhout we don't have any exact numbers on the edge limits for eureka, and of course this also is highly dependent on the instance type that the servers are deployed on. To give you a rough idea:

1. eureka servers do not shard their registry, so from a memory footprint p.o.v. all servers will share the same restrictions. Having said that, we have typically found that network I/O being the bo

[2016-09-01 17:20] qiangdavidliu commented on #836
Hi @killjason the hostname should be automatically discovered by eureka-client.

[2016-09-02 04:05] iamzhout commented on #834
Thanks @qiangdavidliu for your reply.

Currently, we are doing some performance test purely on eureka to check its capability and performance in large scale, and found some problems during the process, mainly are:

1.  after registered 100,000 service instances to eureka, and then call delete API (~200 threads concurrently), eureka will be extremely slow of response

2.   after registered 10,000 s

[2016-09-02 08:26] killjason commented on #836
@qiangdavidliu, what about the IP address?

[2016-09-02 20:24] qiangdavidliu commented on #836
@killjason same for ip address as well. The client auto detects your hostname and IP via standard system calls, and then (optionally, if in EC2) overlays these with data retrieved from calling the ec2 instance metadata url.

[2016-09-02 20:45] qiangdavidliu commented on #834
Thanks for the update. I have some questions regarding your set up:
- are you testing with just a single eureka server, or with a cluster set up (and if so, how many instances?)
- with your 200 concurrent calls, are they (relating to the above) hitting the same server or distributed? what is the rate of these calls?

Address your questions without understanding of the two questions above,

1. We t

[2016-09-02 20:47] #830 closed

[2016-09-02 20:50] qiangdavidliu commented on #829
Hi @lijunyong we do have tomcat8 servers running as well, but I have not been able to repro this issue. Are you still seeing the problem? It might also be worthwhile asking this in the google group to see if the community has any idea. Thanks.

[2016-09-02 20:50] #829 closed

[2016-09-02 21:00] qiangdavidliu commented on #828
Hi @miggy8234 your link is for the client (eureka-client), do you mean the client or the server? For the eureka server themselves, you'll need to build them as a war which packages in the eureka-server.properties prop file.

[2016-09-06 07:28] killjason opened #839 "How to init TWO eureka-clients using plain java code WITHOUT properties files?"
How to init TWO eureka-clients using plain java code WITHOUT properties files?

[2016-09-06 09:01] killjason commented on #836
@qiangdavidliu,what if the server have multi network interfaces?

[2016-09-06 16:34] nick-pww opened #840 "EIP publicip association not correctly updated on fresh instance"
Seem to have found an problem with public EIP address association not being correctly updated when a new AWS server starts and has a new Eureka server starting with it. When the server starts up, it correctly registers itself:
[code]
But, every minute after that we get the following log entry:
[code]

Debugging this, the call to `isEIPBound()` is always failing, and this is because the following i

[2016-09-06 16:39] nick-pww commented on #840
This is on 1.4.9. Also, I couldn't find anything that said it would matter but we are using spring-boots starter projects as the basis for the app, and the app is started with the following main class:
[code]

[2016-09-06 17:17] qiangdavidliu commented on #840
@nick-pww this seems spring cloud specific, you might be able to get better help at https://github.com/spring-cloud/spring-cloud-netflix.

Internally, our deployment of eureka does depend on this, and we have not observed the EIP issue you described. We do not run with spring cloud however.

[2016-09-06 17:18] qiangdavidliu commented on #836
@killjason we don't yet support multiple interfaces.

[2016-09-06 18:12] nick-pww commented on #840
@qiangdavidliu Can you point to where the dataCenterInfo is refreshed in the regular Eureka code? I could find where it got initialized, but nowhere where it might get refreshed. The only call I found was `ApplicationManager.refreshDataCenterInfoIfRequired()`, but can't find any thing that actually calls this method.

I'll keep digging and guess open an issue with spring-cloud folks too...

[2016-09-06 18:50] nick-pww commented on #840
Just to keep track:
https://github.com/spring-cloud/spring-cloud-netflix/issues/1321

[2016-09-06 18:53] qiangdavidliu commented on #840
@nick-pww the default DiscoveryClient should start up a thread to run the [InstanceInfoReplicator](https://github.com/Netflix/eureka/blob/master/eureka-client/src/main/java/com/netflix/discovery/InstanceInfoReplicator.java), which when it runs will refresh the datacenter info.

Note that the Amazon based datacenter info refreshes in ApplicationInfoManager only occurs if the config is of CloudInsta

[2016-09-07 00:06] killjason commented on #839
@qiangdavidliu, the example still use the property file:sample-eureka-client.properties.
How to set properties value in java code dynamicly?

[2016-09-07 01:29] killjason commented on #836
How does eureka-client decide which ip should use if have two interfaces?

[2016-09-09 20:43] #840 closed

[2016-09-09 20:44] qiangdavidliu commented on #836
@killjason if the server is running on Amazon, it defaults to eth0. Otherwise, the default interface is whatever will be picked up by InetAddress.getLocalHost().

[2016-09-15 22:06] rs017991 commented on #828
It's the war file itself:
https://repo1.maven.org/maven2/com/netflix/eureka/eureka-server/1.5.3/eureka-server-1.5.3.war

Take a look at **META-INF/eureka-server.properties**

[2016-09-15 22:52] qiangdavidliu commented on #828
Hi @rs017991 the correct property file is in the war at /WEB-INF/classes/eureka-server.properties. The file in META-INF may have the same name, but that is purely an artifact of the war name and is auto generated by the build. It does not affect actual property loading of the property file.

Thanks.

[2016-09-20 21:12] ayusun opened #850 "Build of Sample Project fails [Test Fail]"
So I tried to follow the instruction given in https://github.com/Netflix/eureka/wiki/Building-Eureka-Client-and-Server

So while building using gradle, there were some tests that were being performed and one of the test failed.

`DicscoverClientHealthTest.java : 72`

I think probably it should be `assertNotEquals` instead of `assertEquals`

I changed it and my tests are passing. Can you guys look

[2016-09-20 21:18] ayusun commented on #850
If it turns out to be valid, I can probably send a pull request, if required

[2016-09-21 08:18] ayusun commented on #850
Closing it, for some reason it passed in my another machine.

[2016-09-21 08:19] #850 closed

[2016-09-22 03:34] elyorm opened #851 "how to copy eureka.war under _$TOMCAT_HOME/webapps/"
I'm following this example https://github.com/Netflix/eureka/tree/master/eureka-examples#setting-up-the-eureka-server.

Trying to copy eureka.war from git cmd using:
`copy "eureka-server/build/libs/eureka-server-1.5.5-SNAPSHOT.war $TOMCAT_HOME/webapps/eureka.war"`

But it says system cannot find the specified path.

[2016-09-22 04:25] #851 closed

[2016-09-23 09:07] rfoltyns commented on #836
@killjason You can pass your own implementation of PropertiesInstanceConfig to the ApplicationManager. This implementation can override getHostName() and getIpAddress() in a way you want.

[2016-09-23 09:23] killjason commented on #836
@rfoltyns , I extends com.netflix.appinfo.MyDataCenterInstanceConfig to override getHostName() and getIpAddress(), is that OK?

[2016-09-23 09:44] rfoltyns commented on #836
@killjason yeah, MyDataCenterInstanceConfig also extends this class

[2016-09-29 16:43] deekshasharma opened #854 "multiple copies of NodeJS service registering from same machine. Eureka Server cannot register"
I am running NodeJS service say **MyService** on 3 different ports(8080,8081,8082) on single AWS EC2 machine. Now when my services register with Eureka Server. I see that Eureka server only registers the last instance of service that started on  port 8082. So basically it registers and keeps the data of single service(host:port) if the Amazon instance-id and Service name are same for all instances

[2016-10-04 17:07] todoubaba opened #856 "Exception is thrown when instance metadata contains non-ascii string"
service config:

[code]

[code]

[2016-10-04 21:43] drse opened #857 "Make registration error message more meaningful when using JSON"
Currently, when using `POST` to register an app with `JSON`, omitting the `port`, `securePort`, and `dataCenterInfo` structures (`$`, `@enabled`, `@class`) produces a generic message:

[code]

It's not directly evident how the XML XSD maps to JSON, would be nice if there was more detailed feedback, or a silent fail that can assume defaults for those values.

[2016-10-04 21:48] vitosamson opened #858 "XSD doc is incomplete and has errors"
It looks like the XSD spec does not match what Eureka actually expects for the `port` and `securePort` fields, which is:

[code]

The XSD spec lists `port` and `securePort` as just `positiveInteger` types. The XSD should be updated to reflect the required structure for those fields.

In addition there seems to be a required `"@class"` parameter on the `dataCenterInfo`. I couldn't find anything abo

[2016-10-11 20:55] qiangdavidliu commented on #858
HI @vitosamson thanks for the issue, we'll take a look at the documentation.

[2016-10-11 20:59] qiangdavidliu commented on #854
@deekshasharma the default id for eureka registration is the instanceId of the EC2 instance, however there is configuration available to customize the id so they are unique across your services. Are you registering by direct http POST? If you, you'll want to supply a custom instance_id field at the InstanceInfo level.

Similarly, the port field in the InstanceInfo is available to be customized wit

[2016-10-11 21:01] qiangdavidliu commented on #856
Hi @todoubaba we've never really tested eureka with non-ascii values in the metadata map. If you want to make a contribution to enable this, that would be much appreciated.

[2016-10-12 21:20] deekshasharma commented on #854
Thanks for the reply!
Yes I am using http POST to send the registration payload via a Node JS eurekaClient.
I got it what you are saying. We are anyways customizing the appName and port when sending the registration info. We can also do the same for instance-id.

So to resolve this issue we are currently providing a suffix to our service name like
(myservice-port1, myservice-port2) and doing that

[2016-10-18 04:05] yihukurama opened #859 "eureka & swagger-ui"
- Brixton.SR5 eureka  and swagger ui 2.6.0

I just use swagger ui and eureka for my project. However there is no reproducing about the issue, swagger-ui work well but eureka cannot found the application name. I use two day for this bug, at last I common all about swagger ui and eureka found the service.Could you help me to solve this issue.

[2016-10-19 15:16] william-tran opened #860 "Is there a use case for different values of virtualHostname and secureVirtualHostname?"
When is it useful to have a secureVirtualHostname that's different from virtualHostname? We have other flags to signify whether we want to use the secure port (eg ribbon.IsSecure and isSecure flags on EurekaClient methods) and whether that securePort is enabled (InstanceInfo.isSecurePortEnabled). I can see a use for having a null secureVirtualHostname if isSecurePortEnabled is false, then the inst

[2016-10-19 23:49] qiangdavidliu commented on #860
Hi @william-tran some of the usage of the metadata such as these are driven by convention, so it depends somewhat on how you want to interpret this. In one scenario it might be used as a way to have a permissive server (I support both) and restrictive clients.

[2016-10-19 23:49] #860 closed

[2016-10-22 13:22] elnur opened #863 "Can't upsert Route53 Record Set"
I'm trying to use the Route53 binder. It works for the first time when a record set doesn't exist. But after instances in an ASG get replaced, the binder can't upsert the same record set it created earlier.

I'm seeing this in the logs:

[code]

Any ideas what's wrong? Any workarounds?

[2016-10-22 13:26] elnur commented on #863
I gave full EC2 profile permissions for Route53, EC2, and ASG just in case it could be a permission problem. But it didn't help.

[2016-10-22 17:21] elnur commented on #863
Okay, it looks like it's intentional. The binder only looks for free domains. That doesn't make much sense though. Thanks to autoscaling, instances come and go but it'd be nice to have a fixed number of domains to have stable locations of Eureka instances. So if an instance a domain points to is long gone, this Route53 binder can't update the domain to point to a new Eureka instance.

[2016-10-24 01:51] flamhaze5946 opened #864 "How to get CPUs info from discoveryClient?"
In this ClassMeta's code I have not found any method to get clients' runtime infomation.
by the way, every time I start my application, about 30s - 60s eureka server can register my application's information up, is it a heartbeat problem? Can I set the heartbeat quickly?(I want to update Clients' information quickly, too)
Thank you !

[2016-10-24 02:58] flamhaze5946 commented on #864
Now I try to registerAppMetadata to achieve it, thanks

[2016-10-24 07:03] wanghongfei opened #865 "Eureka propagates registry info to its peer node only(peer's peer cannot get this replication)"
I have three Eureka instances A, B and C. A's peer is pointed to B, B is pointed to C, C is pointed to A:

![yvmm2](https://cloud.githubusercontent.com/assets/4201347/19636216/8c1f7580-99fa-11e6-8509-bfedd048aef4.jpg)

When I registered my service to Eureka A, Eureka B got this registry info as expected. But C got nothing at all, which means B didn't propagate info to C.

Is this the correct behav

[2016-10-24 09:27] kalyanvgopal opened #866 "Query on release date for Eureka 2.0"
Hi,

Eureka 2.0 proposed features are very interesting But I could not find any information on release date.
Can any one help me with a release date for 2.0?

Regards
Kalyan

[2016-10-24 17:37] qiangdavidliu commented on #865
@wanghongfei eureka server set up actually requires that you configure as peers all other available servers. So in your example, you would configure both B and C to be peers of A. I have updated the wiki page https://github.com/Netflix/eureka/wiki/Deploying-Eureka-Servers-in-EC2. Thanks.

[2016-10-24 17:40] #865 closed

[2016-10-24 17:41] qiangdavidliu commented on #866
@kalyanvgopal we've had some internal changes w.r.t. to eureka2, and do not have any time lines for open sourcing.

[2016-10-24 17:41] #866 closed

[2016-10-24 17:43] qiangdavidliu commented on #859
Hi @yihukurama you may want to ask this question at https://github.com/spring-cloud/spring-cloud-netflix

[2016-10-24 17:43] #859 closed

[2016-10-24 17:47] qiangdavidliu commented on #863
@elnur we do not use the Route53Binder at Netflix, and it was a component that contributed to us externally. The implementation as it is today may be specific to the contributor's internal needs. You can try to contact @aroger-r7 to discuss.

[2016-10-24 17:47] qiangdavidliu commented on #864
👍

[2016-10-24 17:47] #864 closed

[2016-10-24 18:58] elnur commented on #863
Later, I've figured out that the Route53 binder unbinds itself from domain name on shutdown. But it was too late since I got it all working with EIP. 🙂

The EIP approach is more predictable here because an EIP gets released when an EC2 instance dies without a clean shutdown, and hence Eureka will assign an EIP to itself in any case. While the Route53 binder relies on proper shutdown to unbind itse

[2016-10-25 10:41] adoura commented on #600
@spencergibb now jersey 2 compatibility released in eureka 1.6.0 but you planning to upgrade to eureka 1.5.6 in 1.3.0.M1.
is there possibility to upgrade to 1.6.0 instead ?

[2016-10-26 15:36] csterwa commented on #860
Thank you for the response @qiangdavidliu. We are having difficulty thinking of use cases where virtual hostname and secure virtual hostname should have different non-null property values. Would you be able to point towards customer use cases where this is used?

[2016-11-02 10:52] Triggerself commented on #859
I have the same issue

[2016-11-02 15:41] arakelian opened #867 "Delay call to DiscoveryClient.fetchRegistry at boot"
I'm writing a simple application which combines Eureka server, Discovery client, and Zuul Proxy into a single project.  Instead of static routes, I want my Zuul proxy to use Discovery client.

eureka.client.registerWithEureka is set to false.  This is the recommended setting for standalone Eureka servers.

If I set eureka.client.fetchRegistry to false, Eureka server boot and operates normally, but

[2016-11-03 02:42] jianminli opened #868 "Eureka client can't read the server's registry."
I have set up an Eureka server and a client, both of which are written in spring boot. I am using these two application for my Spring MVC testing. The server and client are running well.

Server's configuration application.properties is as below.

client's is as below: application.yml

When accessing the Eureka dashboard localhost:8761, I can see that client has been registered.

For my Spring MVC

[2016-11-05 15:43] #868 closed

[2016-11-08 01:34] qiangdavidliu commented on #863
@elnur glad to hear that you have resolved your issue.

[2016-11-08 01:34] #863 closed

[2016-11-15 07:34] muraliguttha opened #871 "Eureka Client deployment issue in Weblogic 12.2.1"
Hi,
I am trying to deploy eureka client (war file) in weblogic 12.2.1. I am getting below issue.
But same war is working fine in Tomcat 9 version without any changes.

Please suggest / guide for any changes are required for weblogic

contextInitialized()***
Nov 15, 2016 12:47:34 PM com.netflix.config.sources.URLConfigurationSource <init>
WARNING: No URLs will be polled as dynamic configuration sou

[2016-11-15 15:00] klues opened #872 "DiscoveryClient.shutdown() does not shutdown all Threads - MemoryLeak"
Hi,

I'm using Eureka-Client 1.4.11.
We are running applications containing an eureka-client on Tomcat 7.0.42 and on undeploy although I call EurekaClient#shutdown(), I get the following warning:
SEVERE: The web application appears to have started a thread named [AsyncResolver-bootstrap-1] but has failed to stop it. This is very likely to create a memory leak.

After some time of debugging I found

[2016-11-15 22:03] william-tran opened #873 "Eureka Client cannot make HTTPS requests to servers that use multiple certificates via SNI"
EurekaJerseyClientImpl uses deprecated, pre HTTPClient 4.3 APIs to create the SSLSocketFactory used in MonitoredConnectionManager [[1]](https://github.com/Netflix/eureka/blob/v1.6.0/eureka-client/src/main/java/com/netflix/discovery/shared/transport/jersey/EurekaJerseyClientImpl.java#L222). Support for https://en.wikipedia.org/wiki/Server_Name_Indication was introduced in Apache HttpClient 4.3.2 [[

[2016-11-16 19:28] russBDigitalGlobe opened #875 "Questions: What is the road map for Eureka 2 and is there a timeframe for when Spring Cloud will adopt it"
Hi,
I'm wondering what the road map is for Eureka 2 and when Spring Cloud will adopt it as part of their release?

Thanks in advance,

Russ Baker

[2016-11-16 19:53] spencergibb commented on #875
This is not the forum for spring cloud. And, someone correct me if I'm wrong, but eureka 2 is on hold.

[2016-11-17 09:10] klues commented on #872
created pull request for this issue

[2016-11-17 11:31] muraliguttha commented on #871
Able to solve this problem. There are conflicts with libraries in WLS.
Able to proceed after providing libraries details.

[2016-11-17 11:31] #871 closed

[2016-11-21 20:23] #873 closed

[2016-11-26 02:39] tianxiaoliang opened #877 "Register instance API‘s TPS is too low"
I use ab to test register instance API， the performance is 2k TPS, and the CPU usage is only about 200%，but The baremental has 72 cpu cores，Is there any limit to cpu usage in source code